$vigi-azul-extralight: #80d8c9;
$vigi-azul-light:      #43bac2;
$vigi-azul-regular:    #0397ce;
$vigi-azul-dark:       #1f62aa;
$vigi-azul-extradark:  #392e85;

$vigi-primary-50:  #eeecf8;
$vigi-primary-100: #dcd9f2;
$vigi-primary-200: #bab3e5;
$vigi-primary-300: #978dd8;
$vigi-primary-400: #7467cb;
$vigi-primary-500: #5241be;
$vigi-primary-600: #413498;
$vigi-primary-650: #392e85; // Original
$vigi-primary-700: #312772;
$vigi-primary-800: #211a4c;
$vigi-primary-900: #100d26;
$vigi-primary-950: #080713;

$vigi-secondary-50:  #edecf8;
$vigi-secondary-100: #dbdaf1;
$vigi-secondary-200: #b8b5e3;
$vigi-secondary-300: #948fd6;
$vigi-secondary-400: #706ac8;
$vigi-secondary-500: #4d45ba;
$vigi-secondary-600: #3d3795;
$vigi-secondary-700: #2e2970;
$vigi-secondary-750: #26225d; // Original
$vigi-secondary-800: #1f1c4a;
$vigi-secondary-900: #0f0e25;
$vigi-secondary-950: #080713;

// Use em tertiary
$vigi-accent-50:  #f8edf2;
$vigi-accent-100: #f1dae5;
$vigi-accent-200: #e3b5ca;
$vigi-accent-300: #d590b0;
$vigi-accent-400: #c76b96;
$vigi-accent-460: #BF5687; // Original
$vigi-accent-500: #b9467c;
$vigi-accent-600: #943863;
$vigi-accent-700: #6f2a4a;
$vigi-accent-800: #4a1c31;
$vigi-accent-900: #250e19;
$vigi-accent-950: #12070c;

