@use "utilidades/mixins";

html {
    scroll-padding-top: 5.5rem;
}

dd {
    margin-bottom: 0;
}

dialog::backdrop {
    backdrop-filter: blur(2px) brightness(0.5);
}

:focus-visible {
    @include mixins.focus-visible-outline;
}