aside.dev {
    border: 1px dashed white;
    background-color: red;
    padding: .25rem;
    font-size: 80%;
    line-height: 1;
    font-weight: bold;

    &.comentario {
        > :first-child::before {
            content: "Comentário: ";
            color: cyan;
        }
    }

    &.todo {
        > :first-child::before {
            content: "Pendente: ";
            color: yellow;
            text-transform: uppercase;
            [data-bs-theme="light"] & {
                background-color: black;
            }
        }
    }
}