@use "base/cores";
@use "bootstrap" as *;

#a11y-links {
    position: fixed;
    width: fit-content;
    margin: 0 auto;
    inset: auto 0;
    background-color: shade-color(cores.$vigi-azul-logo-dark-3x, 50%);

    & > * {
        user-select: all;
    }
}