@use "utilidades/mixins";
@use "bootstrap" as *;

.accordion.accordion-foto {
    box-shadow: none;

    .accordion-item {
        background: none;
    }

    .accordion-button {
        padding: 0;
        background: none;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;

        img {
            width: 100%;
            transition: filter ease .3s;
            max-height: 12rem;
            object-fit: contain;
        }

        &:has(~ .accordion-collapse:not(.show, .collapsing)) img {
            filter: saturate(.5);
        }

        &::after {
            margin-left: 0;
        }
    }

    .accordion-collapse {
        margin-top: 1rem;
        @include mixins.bg-body-vigi;
    }

    .accordion-body {
        font-size: 85%;
        line-height: 1.5;
        box-shadow: var(--vigi-box-shadow);

        p {
            text-align: center;
        }
    }
}