@use "base/cores";
@use "sass:color";
@use "bootstrap" as *;

.vigi-card {
    position: relative;
    margin-block-start: 3rem;
    padding: 2rem;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: $border-radius;
        box-shadow: var(--vigi-box-shadow);
        background-color: color.change(cores.$vigi-branco-azulado, $alpha: 10%);
        [data-bs-theme="light"] & {
            background-color: color.change($white, $alpha: 50%);
        }
        z-index: -1;

    }

    &:has(.vigi-card-header) {
        &::before {
            mask-image: linear-gradient(to bottom, rgb(0 0 0 / .5), black 5rem);
            top: 2rem;
        }

        padding-top: 0;
    }
}

.vigi-card-header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    translate: -.5rem  -.5rem;
    margin-bottom: .5rem;

    > svg {
        flex-shrink: 0;
    }
}

.vigi-card-title {
    line-height: 1;
}