@use "base/cores";
@use "sass:color";
@use "bootstrap" as *;

.vigi-card {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        top: 2rem;
        border-radius: $border-radius;
        background-color: color.change(cores.$vigi-branco-azulado, $alpha: 10%);
        [data-bs-theme="light"] & {
            background-color: color.change(cores.$vigi-preto-azulado, $alpha: 10%);
        }
        z-index: -1;
    }
}

.vigi-card-header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    translate: -.5rem  -.5rem;

    > svg {
        flex-shrink: 0;
    }
}

.vigi-card-body {
    padding: 2rem;
    padding-top: 1rem;
}