@use "base/cores";
@use "sass:color";
@use "bootstrap" as *;

:where(:not(.modulos-carrossel)) {
    &.carousel {
        --space-y: 3rem;
        border-radius: $border-radius;
        box-shadow: var(--vigi-box-shadow);
        background-color: color.change(cores.$vigi-branco-azulado, $alpha: 10%);
        padding: 2rem var(--space-y);
    }

    .carousel-controls {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: space-between;
        pointer-events: none;

        > button {
            pointer-events: auto;
            width: var(--space-y);
        }
    }

    .carousel-indicators {
        position: static;
        margin-bottom: 0;
        margin-top: 1rem;

        [data-bs-target] {
            background-color: var(--vigi-body-color);
        }
    }
}
