@use "bootstrap" as *;

figure {
    /* inline-size: fit-content;
    margin-inline: auto; */
    > video, > audio {
        display: block;
        width: 100%;
    }
}

.figcontent {
    position: relative;
    display: grid;
    inline-size: fit-content;
    margin-inline: auto;

    > * {
        grid-area: 1 / 1;
    }

    > img {
        border-radius: $border-radius;
    }

    &__btn {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: .5;
        border-radius: 10px;

        &:hover {
            opacity: 1;
        }

        .figcontent:has(.figlegenda.show, .figlegenda.collapsing, .figlegenda:focus, .figlegenda:focus-visible) & {
            display: none;
        }
    }
}


.figlegenda {
    position: absolute;
    inset: 0;
    font-size: 1rem;
    line-height: $line-height-base;
    backdrop-filter: blur(5px);
    background-color: rgba(var(--#{$prefix}body-bg-rgb), .8),;
    border-radius: 27px;
    max-height: max(50svh, 33vw);
    padding: 0 1rem;
    transition: none;
    transition: opacity .15s ease !important;
    pointer-events: none;
    opacity: 0;

    [data-bs-theme="highcontrast"] & {
        background-color: rgba(var(--#{$prefix}body-bg-rgb), 1);
        border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
    }

    & > *:nth-child(2) {
        margin-top: 1rem;
    }

    &__btn {
        position: sticky;
        top: 10px;
        float: right;
    }

    p {
        margin-bottom: .5rem;
    }

    &.show, &:focus, &:focus-visible {
        opacity: 1;
        height: auto !important;
        overflow: auto !important;
        pointer-events: all;
    }
}

figcaption {
    contain: inline-size;

    > * {
        font-size: 1rem;
        line-height: $line-height-base;
        text-align: center;
    }

    .figfonte {
        margin-top: .5rem;
        text-align: center;
    }
}

.collapse-nothidden.collapse:not(.show) {
    height: 0;
    overflow: hidden;
    display: revert;
}