@use "bootstrap" as *;
@use "base/cores";

figure {
    /* inline-size: fit-content;
    margin-inline: auto; */
    > video, > audio {
        display: block;
        width: 100%;
    }
}

.figcontent {
    position: relative;
    display: grid;
    inline-size: fit-content;
    margin-inline: auto;
    border-radius: .375rem;

    > * {
        grid-area: 1 / 1;
    }

    > img {
        border-radius: $border-radius;
    }

    > details {
        position: absolute;
        inset: 0;
        padding: 1rem;
        overflow: auto;

        &:not(:open) {
            pointer-events: none;

            .transcricao-abrir {
                display: inline;
            }
            .transcricao-fechar {
                display: none;
            }
        }

        &:open {
            border-radius: .375rem;
            backdrop-filter: blur(5px);
            background-color: rgba(var(--#{$prefix}body-bg-rgb), .8);

            [data-bs-theme="highcontrast"] & {
                background-color: rgba(var(--#{$prefix}body-bg-rgb), 1);
                border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
            }

            .transcricao-abrir {
                display: none;
            }
            .transcricao-fechar {
                display: inline;
            }
        }

        > summary {
            position: sticky;
            top: 0;
            float: right;
            margin-left: .5rem;
            pointer-events: auto;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__btn {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: .5;
        border-radius: 10px;

        &:hover {
            opacity: 1;
        }

        .figcontent:has(.figdescricao.show, .figdescricao.collapsing, .figdescricao:focus, .figdescricao:focus-visible) & {
            display: none;
        }
    }
}


.figdescricao {
    position: absolute;
    inset: 0;
    line-height: $line-height-base;
    backdrop-filter: blur(5px);
    background-color: rgba(var(--#{$prefix}body-bg-rgb), .8),;
    padding: .5rem;
    transition: none;
    transition: opacity .15s ease !important;
    pointer-events: none;
    opacity: 0;

    [data-bs-theme="highcontrast"] & {
        background-color: rgba(var(--#{$prefix}body-bg-rgb), 1);
        border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
    }

    & > *:nth-child(2) {
        margin-top: 1rem;
    }

    &__btn {
        position: sticky;
        margin-left: .5rem;
        float: right;
    }

    p {
        margin-bottom: .5rem;
    }

    &.show, &:focus, &:focus-visible {
        opacity: 1;
        height: auto !important;
        overflow: auto !important;
        pointer-events: all;
    }
}

figcaption:last-child {
    contain: inline-size;

    > * {
        font-size: 1rem;
        line-height: $line-height-base;
        text-align: center;
    }
}

.figfonte {
    margin: 0;
    font-size: 1rem;
    line-height: $line-height-base;
    text-align: center;
}

.collapse-nothidden.collapse:not(.show) {
    height: 0;
    overflow: hidden;
    display: revert;
}