@use "bootstrap" as *;
@use "base/cores";

figure {
    /* inline-size: fit-content;
    margin-inline: auto; */
    > video, > audio {
        display: block;
        width: 100%;
    }
}

.figcontent {
    position: relative;
    display: grid;
    inline-size: fit-content;
    margin-inline: auto;

    > * {
        grid-area: 1 / 1;
    }

    > img {
        border-radius: $border-radius;
    }

    &__btn {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: .5;
        border-radius: 10px;

        &:hover {
            opacity: 1;
        }

        .figcontent:has(.figdescricao.show, .figdescricao.collapsing, .figdescricao:focus, .figdescricao:focus-visible) & {
            display: none;
        }
    }

    &.vigi-pista {
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            backdrop-filter: blur(50px);
            background-image: url(../svgs/vigi-icones/zoom.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: min(5rem, 40%);
            border-radius: $border-radius;
            transition: background-size ease .3s, opacity ease-out .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        &:hover::after {
            content: 'Clique para investigar';
            font-family: $font-family-sans-serif;
            text-align: center;
            color: cores.$vigi-azul-logo-dark-2x;
            font-weight: 800;
            text-shadow:
                /* Top-left */
                -2px -2px 0 $white,
                /* Top */
                0 -2px 0 $white,
                /* Top-right */
                2px -2px 0 $white,
                /* Left */
                -2px 0 0 $white,
                /* Right */
                2px 0 0 $white,
                /* Bottom-left */
                -2px 2px 0 $white,
                /* Bottom */
                0 2px 0 $white,
                /* Bottom-right */
                2px 2px 0 $white;
            background-size: 0;
        }

        .auto-exibir &, &.show {
            &::after {
                opacity: 0;
            }
        }

    }
}


.figdescricao {
    position: absolute;
    inset: 0;
    font-size: 1rem;
    line-height: $line-height-base;
    backdrop-filter: blur(5px);
    background-color: rgba(var(--#{$prefix}body-bg-rgb), .8),;
    border-radius: 27px;
    max-height: max(50svh, 33vw);
    padding: 0 1rem;
    transition: none;
    transition: opacity .15s ease !important;
    pointer-events: none;
    opacity: 0;

    [data-bs-theme="highcontrast"] & {
        background-color: rgba(var(--#{$prefix}body-bg-rgb), 1);
        border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
    }

    & > *:nth-child(2) {
        margin-top: 1rem;
    }

    &__btn {
        position: sticky;
        top: 10px;
        float: right;
    }

    p {
        margin-bottom: .5rem;
    }

    &.show, &:focus, &:focus-visible {
        opacity: 1;
        height: auto !important;
        overflow: auto !important;
        pointer-events: all;
    }
}

figcaption:last-child {
    contain: inline-size;

    > * {
        font-size: 1rem;
        line-height: $line-height-base;
        text-align: center;
    }
}

.figfonte {
    margin: 0;
    font-size: 1rem;
    line-height: $line-height-base;
    text-align: center;
}

.collapse-nothidden.collapse:not(.show) {
    height: 0;
    overflow: hidden;
    display: revert;
}