.flip-card {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 30vh;
    border: none;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card input {
    display: none;

    &:checked~.flip-card-inner {
        transform: rotateY(180deg);
    }
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 1.25rem;
    border: 1px solid white;
}

.flip-card-back {
    transform: rotateY(180deg);
}