@use "utilidades/mixins";
@use "bootstrap" as *;

.flipcard {
    background-color: transparent;
    border: none;
    perspective: 1000px;
    transition: scale ease .3s;

    --flipcard-height: auto;

    &[data-height] {
        --flipcard-height: attr(data-height type(<length>));
    }
    &[data-height$="vh"] {
        --flipcard-height: max(20rem, attr(data-height type(<length>)));
    }

    > input {
        display: none;

        &:checked~.flipcard-inner {
            transform: rotateY(-180deg);
        }
    }
    
    &:hover {
        scale: 1.05;
    }

    &:hover, &:focus-within {
        position: relative;
        z-index: 1;

        > .flipcard-inner .vigi-card::before {
            backdrop-filter: blur(20px);
        }
    }

    .flipcard-btn {
        transition: display ease .3s allow-discrete;
    }
}

.flipcard:has(> :checked) .flipcard-frente,
.flipcard:not(:has(> :checked)) .flipcard-verso {
    .flipcard-btn {
        display: none;
    }
}

.flipcard-inner {
    display: grid;
    grid-template: auto auto / auto;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipcard-frente,
.flipcard-verso {
    display: contents;

    > .vigi-card-body, > .vigi-card-footer {
        backface-visibility: hidden;
    }

    > .vigi-card-body {
        align-content: center;
        grid-area: 1 / 1;
        height: var(--flipcard-height);
        overflow: auto;
    }

    > .vigi-card-footer {
        grid-area: 2 / 1;
        margin-block-start: auto;
    }

    gap: 1rem;

    &.vigi-card {
        margin-block-start: 0;
        padding: 1rem;
    }
}

.flipcard-verso {
    > .vigi-card-body, > .vigi-card-footer {
        transform: rotateY(180deg);
    }

    &.vigi-card::before {
        content: none;
    }
}
