@use "bootstrap" as *;

:where(svg.icone) {
    height: 1em;
    width: var(--icone-width, 1em);
    font-size: 1em;
}

.icone-width-auto {
    width: auto;
}

.icone-1x {
    font-size: 1em;
}

.icone-2x {
    font-size: 2em;
}

.icone-3x {
    font-size: 3em;
}

.icone-4x {
    font-size: 4em;
}

.icone-5x {
    font-size: 5em;
}

.icone-6x {
    font-size: 6em;
}

.icone-7x {
    font-size: 7em;
}

.icone-8x {
    font-size: 8em;
}

.icone-9x {
    font-size: 9em;
}

.icone-10x {
    font-size: 10em;
}

.icone-2xs {
    font-size: 0.625em;
}
.icone-xs {
    font-size: 0.75em;
}
.icone-sm {
    font-size: 0.875em;
}
.icone-lg {
    font-size: 1.25em;
}
.icone-xl {
    font-size: 1.5em;
}
.icone-2xl {
    font-size: 2em;
}
