@use "bootstrap" as *;

.vigi-quiz {
    margin-top: 3rem;

    legend > :last-child {
        margin-bottom: 0;
    }

    .opcoes {
        display: grid;
        grid-template-columns: 1fr;
        gap: .25rem;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        }
    }

    label.opcao {
        text-align: start;
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        gap: 1rem;

        & > svg {
            &.square, &.circle {
                &:has(~ input:checked) {
                    display: none;
                }
                &:has(~ input:not(:checked)) {
                    display: inline;
                }

            }
            &.square-check, &.circle-check {
                &:has(~ input:checked) {
                    display: inline;
                }
                &:has(~ input:not(:checked)) {
                    display: none;
                }
            }
        }

        .correcao-correto, .correcao-errado {
            display: none;
        }

        & > select {
            width: min-content;
            padding: 0 0.438rem;
        }
    }

    input {
        display: none;
    }

    &:not(:has(.opcao > :checked)) {
        .confirmar {
            opacity: 50%;
            pointer-events: none;
        }
    }

    &:has(.confirmar > :not(:checked)) {
        .confirmar {
            display: inline;
        }

        .acoesfinais {
            display: none;
        }
    }

    &:has(.confirmar > :checked) {
        .confirmar {
            display: none;
        }

        .acoesfinais {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        }
    }

    .corrigir-ocultar {
        display: none;
    }

    &:has(.corrigir>:checked) {
        .corrigir-mostrar {
            display: none;
        }
        .corrigir-ocultar {
            display: inline;
        }
        &[data-multi] {
            label.opcao {
                &.correto:has(input:checked), &:not(.correto):has(input:not(:checked)) {
                    .correcao-correto {
                        display: inline;
                    }
                }
                &.correto:has(input:not(:checked)), &:not(.correto):has(input:checked) {
                    .correcao-errado {
                        display: inline;
                    }
                }
            }
        }

        &:not([data-multi]) {
            label.opcao {
                &.correto:has(input:checked) {
                    .correcao-correto {
                        display: inline;
                    }
                }
                &.correto:has(input:not(:checked)), &:not(.correto):has(input:checked) {
                    .correcao-errado {
                        display: inline;
                    }
                }
            }
        }
    }

    .feedback-positivo, .feedback-negativo {
        display: none;
    }

    &:has(.confirmar>:checked) {
        //Tudo certo
        &:not(:has(.opcao.correto input:not(:checked), .opcao:not(.correto) input:checked)) {
            .feedback-positivo {
                display: block;
            }

            .tentar {
                display: none;
            }
        }

        // Algum errado
        &:has(.opcao.correto input:not(:checked), .opcao:not(.correto) input:checked) {
            .feedback-negativo {
                display: block;
            }

            .recomecar {
                display: none;
            }
        }
    }
}