<nav class="breadcrumb vigi-grid vigi-coluna-cheia" aria-label="breadcrumb">
    <span class="breadcrumb-trilha vigi-coluna-larga">
        {{- range .Ancestors.Reverse }}
            {{ $link := partial "bcstep.html" . }}
            {{ with $link }}
                {{- . -}}
            {{- else -}}
                {{- continue -}}
            {{ end }}
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-right") }}
        {{ end -}}
        {{- partial "bcstep.html" . -}}
    </span>
</nav>

{{- define "_partials/bcstep.html" -}}
    {{- if .LinkTitle -}}
        {{- if .IsHome -}}
            <a href="{{ .RelPermalink }}">
            {{- partial "fontawesome.html" (dict "style" "solid" "icon" "house" "classes" "align-baseline icone-2xs me-1") -}}
            {{- .LinkTitle -}}
            </a>
        {{- else if eq .Type "modulo" -}}
            <button type="button" class="btn btn-sm btn-outline-light p-0 px-2 icon-link" data-vigi-menu-modulo="{{ partial "funcao/indexOf.html" . }}">
                {{- .LinkTitle -}}
            </button>
        {{- else if eq .Type "aula" -}}
            <button type="button" class="btn btn-sm btn-outline-light p-0 px-2 icon-link" data-vigi-menu-modulo="{{ partial "funcao/indexOf.html" .Parent }}" data-vigi-menu-aula="{{ partial "funcao/indexOf.html" . }}">
                {{- .LinkTitle -}}
                {{- with .Parent -}}
                    {{- print " de " .Pages.Len -}}
                {{- end -}}
            </button>
        {{- else if eq .Type "topico" -}}
            {{- $index := partial "funcao/indexOf.html" . -}}
            {{- $total := 0 -}}
            {{- with .Parent -}}
                {{- $total = .Pages.Len -}}
            {{- end -}}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }} ({{ partial "funcao/prettyType.html" .Type }} {{ $index }} de {{ $total }})</a>
        {{- else if .RelPermalink -}}
            <a href="{{ .RelPermalink }}">{{- .LinkTitle -}}</a>
        {{- else -}}
            <span>{{- .LinkTitle -}}</span>
        {{- end -}}
    {{- end -}}
{{- end -}}