<nav class="breadcrumb conteudo conteudo-cheio sticky-top" aria-label="breadcrumb">
    <span class="breadcrumb-trilha conteudo-largo">
        {{ range .Ancestors.Reverse }}
            {{ if in (slice "modulo" "aula") .Type }}
                {{ printf "<button type=\"button\" class=\"btn btn-link p-0 text-decoration-none\" data-menu-%s=\"%d\">%s</button>" .Type (partial "funcao/indexOf.html" .) (partial "bcstep.html" .) | safeHTML }}
            {{ else }}
                {{ printf "<a href=\"%s\">%s</a>" .RelPermalink (partial "bcstep.html" .) | safeHTML }}
            {{ end }}
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-right") }}
        {{ end }}
        <a aria-current="page" href="{{ .RelPermalink }}">
            {{ partial "bcstep.html" . }}
        </a>
    </span>
</nav>

{{ define "_partials/bcstep.html" }}
    {{ if .IsHome }}
        {{ partial "fontawesome.html" (dict "style" "solid" "icon" "house" "classes" "align-baseline icone icone-2xs") }}
        {{ .LinkTitle }}
    {{ else if eq .Type "modulo" }}
        {{ .LinkTitle }}
    {{ else if eq .Type "aula" }}
        {{ .LinkTitle }}
        {{ with .Parent }}
            de {{ .Pages.Len }}
        {{ end }}
    {{ else }}
        {{ $index := partial "funcao/indexOf.html" . }}
        {{ $total := 0 }}
        {{- with .Parent -}}
            {{- $total = .Pages.Len -}}
        {{- end -}}
        {{ print .LinkTitle " (" (partial "funcao/prettyType.html" .Type) " " $index " de " $total ")" }}
    {{ end }}
{{ end }}