<div id="cookie-banner" class="d-none bg bg-body-secondary bg-opacity-75 fixed-bottom p-2 position-fixed">
    <div class="container text-center">
        <div>
            <button id="rejeitar-cookies" class="btn btn-secondary btn-sm py-0 flex-shrink-0">Rejeitar cookies</button>
            <button id="aceitar-cookies" class="btn btn-secondary btn-sm py-0 flex-shrink-0">Aceitar cookies</button>
            <button id="gerenciar-cookies" class="btn btn-secondary btn-sm py-0 flex-shrink-0">Gerenciar cookies</button>
        </div>
        <div style="text-wrap: balance">
            <b>Cookies</b> nos permitem analisar como você usa o site para que possamos constantemente melhora-lo.
        </div>
    </div>
</div>