<h1 class="visually-hidden fs-6">Links do rodapé</h1>
<p class="small">Este site é regido pela Política de Acesso Aberto ao Conhecimento, que busca garantir à sociedade o acesso gratuito, público e aberto ao conteúdo integral de toda obra intelectual produzida pela Fiocruz.</p>
<p class="small">O conteúdo deste site pode ser utilizado para todos os fins não comerciais, respeitados e reservados os direitos morais dos autores.</p>
<div class="vigi-subgrid vigi-coluna-cheia bg-white py-5">
    <div class="regua-logos vigi-coluna-padrao">
        <img src="{{ "/recursos/imagens/logos/cvf.svg" | relURL }}" alt="Campus Virtual Fiocruz" aria-hidden="true" draggable="false">
        <img src="{{ "/recursos/imagens/logos/vigifronteiras.svg" | relURL }}" alt="Programa educacional de Vigilância em Saúde nas Fronteiras" aria-hidden="true" draggable="false">
        <img src="{{ "/recursos/imagens/logos/fiocruz.svg" | relURL }}" alt="FIOCRUZ" aria-hidden="true" draggable="false">
        <img src="{{ "/recursos/imagens/logos/opas.svg" | relURL }}" alt="OPAS" aria-hidden="true" draggable="false">
    </div>
    <div class="regua-logos vigi-coluna-padrao">
        <img src="{{ "/recursos/imagens/logos/sus.svg" | relURL }}" alt="SUS" aria-hidden="true" draggable="false">
        <img src="{{ "/recursos/imagens/logos/saude.svg" | relURL }}" alt="Ministério da Saúde" aria-hidden="true" draggable="false">
        <img class="logo-govfed" src="{{ "/recursos/imagens/logos/govfed.svg" | relURL }}" alt="Governo do Brasil. Do lado do povo Brasileiro" aria-hidden="true" draggable="false">
    </div>
</div>