<h1 class="visually-hidden fs-6">Links do rodapé</h1>
<div class="container-fluid" style="--vigi-gutter-x: 0">
  <div class="row" style="--vigi-gutter-y: 1.5rem">
    <div class="col-12 col-sm-6">
        <div class="align-items-center d-flex flex-column flex-sm-row gap-3 justify-content-center">
            <img src="/recursos/logo.png" alt="" style="width: 80px;object-fit: contain;">
            <div class="text-center text-sm-start">
                Curso
                <br>
                <span class="fw-semibold">{{ site.Title }}</span>
                <br>
                {{ site.Params.subtitle }}
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="d-grid text-center text-sm-start column-gap-4" style="grid-template-columns: repeat(auto-fit, minmax(calc((50rem / 2 / 3) - 3rem), 1fr));">
          <ul class="list-unstyled">
            <li class="fw-bold">Módulos</li>
            <li><a href="#luana--aula-1">Luana</a></li>
            <li><a href="#thiago--aula-1">Thiago</a></li>
            <li><a href="#mariana--aula-1">Mariana</a></li>
            <li><a href="#pedro--aula-1">Pedro</a></li>
          </ul>
          <ul class="list-unstyled">
            <li class="fw-bold">Menu</li>
            <li><a href="#menu-glossario">Glossário</a></li>
            <li><a href="#menu-ajuda">Ajuda</a></li>
            <li><a href="#menu-atalhos">Atalhos</a></li>
            <li><a href="#menu-contato">Contato</a></li>
            <li><a href="#menu-creditos">Créditos</a></li>
          </ul>
          <ul class="list-unstyled">
            <li class="fw-bold">Opções</li>
            <li><a href="#menu-acessibilidade">Acessibilidade</a></li>
            <li><a href="#menu-privacidade">Privacidade</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
<p class="small" style="text-align: justify">Este site é regido pela Política de Acesso Aberto ao Conhecimento, que busca garantir à sociedade o acesso gratuito, público e aberto ao conteúdo integral de toda obra intelectual produzida pela Fiocruz.</p>
<p class="small" style="text-align: justify">O conteúdo deste site pode ser utilizado para todos os fins não comerciais, respeitados e reservados os direitos morais dos autores.</p>
<div class="vigi-subgrid vigi-coluna-cheia bg-white py-5">
    <div class="regua-logos vigi-coluna-padrao">
        <a title="Campus Virtual Fiocruz" href="https://campusvirtual.fiocruz.br" target="_blank"><img src="{{ "/recursos/imagens/logos/cvf.svg" | relURL }}" alt="Logomarca Campus Virtual Fiocruz" aria-hidden="true" draggable="false"></a>
        <a title="Programa educacional de Vigilância em Saúde nas Fronteiras" href="https://formacaovigisaude.fiocruz.br" target="_blank"><img src="{{ "/recursos/imagens/logos/vigifronteiras.svg" | relURL }}" alt="Logomarca Programa educacional de Vigilância em Saúde nas Fronteiras" aria-hidden="true" draggable="false"></a>
        <a title="FIOCRUZ" href="https://fiocruz.br" target="_blank"><img src="{{ "/recursos/imagens/logos/fiocruz.svg" | relURL }}" alt="Logomarca FIOCRUZ" aria-hidden="true" draggable="false"></a>
        <a title="OPAS" href="https://www.paho.org/pt" target="_blank"><img src="{{ "/recursos/imagens/logos/opas.svg" | relURL }}" alt="Logomarca OPAS" aria-hidden="true" draggable="false"></a>
    </div>
    <div class="regua-logos vigi-coluna-padrao">
        <a title="SUS" href="https://gov.br/saude/sus" target="_blank"><img src="{{ "/recursos/imagens/logos/sus.svg" | relURL }}" alt="Logomarca SUS" aria-hidden="true" draggable="false"></a>
        <a title="Ministério da Saúde" href="https://gov.br/saude" target="_blank"><img src="{{ "/recursos/imagens/logos/saude.svg" | relURL }}" alt="Logomarca Ministério da Saúde" aria-hidden="true" draggable="false"></a>
        <a title="Governo do Brasil. Do lado do povo Brasileiro" href="https://gov.br" target="_blank"><img class="logo-govfed" src="{{ "/recursos/imagens/logos/govfed.svg" | relURL }}" alt="Logomarca Governo do Brasil. Do lado do povo Brasileiro" aria-hidden="true" draggable="false"></a>
    </div>
</div>