<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="vigisaude vigilância fronteiras vigifronteiras mooc campus virtual fiocruz cvf" />
<meta name="author" content="Fiocruz, Programa Educacional de Vigilância em Saúde (VigiSaúde)">
<meta name="description" content="{{ .Summary }}">
{{- partial "opengraph.html" . -}}
{{- partial "twitter_cards.html" . -}}
{{ if in .Site.MainSections .Section }}
    {{ $modulo := "_" }}
    {{ $aula := 0 }}
    {{ $topico := 0 }}
    {{ with (partial "funcao/indexOf.html" .) }}
        {{ $topico = . }}
    {{ end }}
    {{ with .CurrentSection }}
        {{ $aula = partial "funcao/indexOf.html" . }}
    {{ end }}
    {{ $modulo = substr .Section 0 1 | upper }}
    <title>{{ printf "%s/%d/%d - %s | %s" $modulo $aula $topico .Title site.Title }}</title>
{{ else }}
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ end }}
{{- partialCached "head/css.html" . -}}
{{- partial "head/js.html" . -}}
{{ range resources.Match "recursos/imagens/modulos/*.*" }}
    {{ .Publish }}
    <link rel="preload" href="{{.}}" as="image" />
{{- end -}}
<link rel="icon" type="image/png" href="/favicon.png" />
