<nav class="navbar conteudo-largo navbar-expand-lg flex-nowrap">
    <div class="d-flex flex-grow-1 justify-content-between">
        <a class="navbar-brand hstack gap-2" href="{{ .Site.Home.RelPermalink }}">
            <img class="navbar-brand-img" src="{{ "logo.png" | relURL }}" alt="">
            <h1 class="navbar-brand-text h3 m-0">{{ site.Title }}</h1>
        </a>
        <div class="dropdown">
            <button class="btn btn-icone btn-secondary rounded-circle" type="button" id="menu-opener" popovertarget="menu">
                {{ partial "fontawesome.html" (dict "style" "solid" "icon" "bars") }}
            </button>
        </div>
    </div>
</nav>