<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="vigisaude vigilância fronteiras vigifronteiras mooc campus virtual fiocruz cvf" />
<meta name="author" content="Fiocruz, Programa Educacional de Vigilância em Saúde (VigiSaúde)">
<meta name="description" content="{{ .Summary }}">
<script>
// Define dataLayer and the gtag function.
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

// Set default consent to 'denied' as a placeholder
// Determine actual values based on your own requirements
gtag('consent', 'default', {
  'ad_storage': 'denied',
  'ad_user_data': 'denied',
  'ad_personalization': 'denied',
  'analytics_storage': 'denied'
});
</script>
{{- template "_internal/google_analytics.html" . -}}
{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{- partialCached "head/css.html" . -}}
{{- partial "head/js.html" . -}}
<link rel="icon" type="image/png" href="/favicon.png" />
