<div popover="hint" id="menu" class="border rounded">
    <div id="menu-titlebar" class="d-flex justify-content-between bg-body-secondary p-3 border-bottom sticky-top">
        <h3 class="m-0">Menu principal</h3>
        <button type="button" class="btn btn-icone p-1" popovertarget="menu" aria-label="Fechar">
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "xmark" "classes" "fs-3") }}
        </button>
    </div>
    <div id="menu-grid">
        <div id="menu-tabs">
            <div class="nav nav-pills vstack" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link text-start active" value="modulos" id="menu-modulos-tab" data-bs-toggle="pill" data-bs-target="#menu-modulos-conteudo" type="button" role="tab" aria-controls="menu-modulos-conteudo" aria-selected="true">Módulos</button>
                <button class="nav-link text-start" value="creditos" id="menu-creditos-tab" data-bs-toggle="pill" data-bs-target="#menu-creditos-conteudo" type="button" role="tab" aria-controls="menu-creditos-conteudo" aria-selected="false">Créditos</button>
                <button class="nav-link text-start" value="a11y" id="menu-a11y-tab" data-bs-toggle="pill" data-bs-target="#menu-a11y-conteudo" type="button" role="tab" aria-controls="menu-a11y-conteudo" aria-selected="false">Acessibilidade</button>
                <button class="nav-link text-start" value="privacidade" id="menu-privacidade-tab" data-bs-toggle="pill" data-bs-target="#menu-privacidade-conteudo" type="button" role="tab" aria-controls="menu-privacidade-conteudo" aria-selected="false">Privacidade</button>
            </div>
        </div>
        <div id="menu-select" class="sticky-top">
            <select name="menu-select" class="form-select">
                <option value="modulos">Módulos</option>
                <option value="creditos">Créditos</option>
                <option value="a11y">Acessibilidade</option>
                <option value="privacidade">Privacidade</option>
            </select>
        </div>
        <div id="menu-conteudo" class="tab-content">
            <div class="tab-pane fade show active" id="menu-modulos-conteudo" role="tabpanel" aria-labelledby="menu-modulos-tab">
                {{ partial "modulos.html" . }}
            </div>
            <div class="tab-pane fade" id="menu-creditos-conteudo" role="tabpanel" aria-labelledby="menu-creditos-tab">
                <p>Magna culpa officia ea elit sint voluptate laboris duis ut in velit occaecat dolore excepteur. Aliqua dolore eu aliqua consequat occaecat est ea cillum nisi aliqua. Cillum culpa incididunt officia cupidatat commodo. Reprehenderit Lorem consequat exercitation eiusmod sint veniam deserunt non magna qui reprehenderit ex eiusmod velit.</p>
            </div>
            <div class="tab-pane fade" id="menu-a11y-conteudo" role="tabpanel" aria-labelledby="menu-a11y-tab">
                {{ partial "menu-a11y.html" }}
            </div>
            <div class="tab-pane fade" id="menu-privacidade-conteudo" role="tabpanel" aria-labelledby="menu-privacidade-tab">
                {{ partial "menu-privacidade.html" }}
            </div>
        </div>
    </div>
</div>
