<dialog closedby="any" id="menu" class="border rounded" aria-labelledby="menu-titulo" tabindex="-1">
    <div id="menu-titlebar" class="d-flex justify-content-between bg-body-secondary p-3 border-bottom sticky-top">
        <span id="menu-titulo" class="h3 m-0">Menu principal</span>
        <button type="button" id="menu-fechar" class="btn btn-icone p-1" aria-label="Fechar">
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "xmark" "classes" "fs-3") }}
        </button>
    </div>
    <div id="menu-grid">
        <div id="menu-tabs">
            <div class="nav nav-pills vstack" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h1 class="visually-hidden">Módulos</h1>
                <button class="btn nav-link text-start icon-link active" value="modulos" id="menu-modulos-tab" data-bs-toggle="pill" data-bs-target="#menu-modulos-conteudo" type="button" role="tab" aria-controls="menu-modulos-conteudo" aria-selected="true">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "people-group") }}Módulos</button>
                <h1 class="visually-hidden">Glossário</h1>
                <button class="btn nav-link text-start icon-link" value="glossario" id="menu-glossario-tab" data-bs-toggle="pill" data-bs-target="#menu-glossario-conteudo" type="button" role="tab" aria-controls="menu-glossario-conteudo" aria-selected="false">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "book") }}Glossário</button>
                <h1 class="visually-hidden">Ajuda</h1>
                <button class="btn nav-link text-start icon-link" value="ajuda" id="menu-ajuda-tab" data-bs-toggle="pill" data-bs-target="#menu-ajuda-conteudo" type="button" role="tab" aria-controls="menu-ajuda-conteudo" aria-selected="false">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "question-circle") }}Ajuda</button>
                <h1 class="visually-hidden">Atalhos</h1>
                <button class="btn nav-link text-start icon-link" value="atalhos" id="menu-atalhos-tab" data-bs-toggle="pill" data-bs-target="#menu-atalhos-conteudo" type="button" role="tab" aria-controls="menu-atalhos-conteudo" aria-selected="false">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "keyboard") }}Atalhos</button>
                <h1 class="visually-hidden">Contato</h1>
                <button class="btn nav-link text-start icon-link" value="contato" id="menu-contato-tab" data-bs-toggle="pill" data-bs-target="#menu-contato-conteudo" type="button" role="tab" aria-controls="menu-contato-conteudo" aria-selected="false">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "phone") }}Contato</button>
                <h1 class="visually-hidden">Créditos</h1>
                <button class="btn nav-link text-start icon-link" value="creditos" id="menu-creditos-tab" data-bs-toggle="pill" data-bs-target="#menu-creditos-conteudo" type="button" role="tab" aria-controls="menu-creditos-conteudo" aria-selected="false">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "signature") }}Créditos</button>
                <hr class="my-1">
                <h1 class="visually-hidden">Acessibilidade</h1>
                <button class="btn nav-link text-start icon-link" value="acessibilidade" id="menu-acessibilidade-tab" data-bs-toggle="pill" data-bs-target="#menu-acessibilidade-conteudo" type="button" role="tab" aria-controls="menu-acessibilidade-conteudo" aria-selected="false">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "universal-access") }}Acessibilidade</button>
                <h1 class="visually-hidden">Privacidade</h1>
                <button class="btn nav-link text-start icon-link" value="privacidade" id="menu-privacidade-tab" data-bs-toggle="pill" data-bs-target="#menu-privacidade-conteudo" type="button" role="tab" aria-controls="menu-privacidade-conteudo" aria-selected="false">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "shield-halved") }}Privacidade</button>
                {{- if eq hugo.Environment "development" -}}
                    <hr class="my-1">
                    <a href="{{ (.context.GetPage "dev").RelPermalink }}" class="btn btn-link px-3 py-2 text-decoration-none text-start icon-link" value="dev" id="menu-dev-tab">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "code") }}<h1 class="fs-body fw-normal m-0 lh-base">Dev</h1></a>
                {{- end -}}
            </div>
        </div>
        <div id="menu-select" class="sticky-top">
            <select name="menu-select" class="form-select">
                <option value="modulos">Módulos</option>
                <option value="glossario">Glossário</option>
                <option value="ajuda">Ajuda</option>
                <option value="atalhos">Atalhos</option>
                <option value="contato">Contato</option>
                <option value="creditos">Créditos</option>
                <hr>
                <option value="acessibilidade">Acessibilidade</option>
                <option value="privacidade">Privacidade</option>
            </select>
        </div>
        <div id="menu-conteudo" class="tab-content">
            <div class="vigi-grid tab-pane fade show active" id="menu-modulos-conteudo" role="tabpanel" aria-labelledby="menu-modulos-tab" tabindex="0">
                <section class="vigi-coluna-cheia">{{ partial "modulos.html" . }}</section>
            </div>
            <div class="vigi-grid tab-pane fade" id="menu-glossario-conteudo" role="tabpanel" aria-labelledby="menu-glossario-tab" tabindex="0">
                {{ with .context.GetPage "glossario" }}
                    {{ .Content }}
                {{ end }}
            </div>
            <div class="vigi-grid tab-pane fade" id="menu-ajuda-conteudo" role="tabpanel" aria-labelledby="menu-ajuda-tab" tabindex="0">
                {{ with .context.GetPage "ajuda" }}
                    {{ .Content }}
                {{ end }}
            </div>
                <div class="vigi-grid tab-pane fade" id="menu-atalhos-conteudo" role="tabpanel" aria-labelledby="menu-atalhos-tab" tabindex="0">
                {{ with .context.GetPage "atalhos" }}
                    {{ .Content }}
                {{ end }}
            </div>
            <div class="vigi-grid tab-pane fade" id="menu-contato-conteudo" role="tabpanel" aria-labelledby="menu-contato-tab" tabindex="0">
                {{ with .context.GetPage "contato" }}
                    {{ .Content }}
                {{ end }}
            </div>
            <div class="vigi-grid tab-pane fade" id="menu-creditos-conteudo" role="tabpanel" aria-labelledby="menu-creditos-tab" tabindex="0">
                {{ with .context.GetPage "creditos" }}
                    {{ .Content }}
                {{ end }}
            </div>
            <div class="vigi-grid tab-pane fade" id="menu-acessibilidade-conteudo" role="tabpanel" aria-labelledby="menu-acessibilidade-tab" tabindex="0">
                {{ partial "menu-a11y.html" }}
            </div>
            <div class="vigi-grid tab-pane fade" id="menu-privacidade-conteudo" role="tabpanel" aria-labelledby="menu-privacidade-tab" tabindex="0">
                {{ partial "menu-privacidade.html" }}
            </div>
        </div>
        <div id="menu-socials">
            {{ partial "socials.html" }}
        </div>
    </div>
</dialog>
