{{$slideCount := 0}}
<div id="modulosCarrossel{{ .suffix }}" class="modulos-carrossel carousel slide" data-bs-wrap="false" data-bs-touch="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="h3 mb-2 text-center">Escolha um módulo:</div>
            <nav class="seletor-modulos">
                {{ range (where .context.Site.Sections "Section" "in" .context.Site.MainSections).ByWeight }}
                    {{ $section := .Section}}
                    <button class="border rounded {{ $section }}" type="button" data-bs-target="#modulosCarrossel{{$.suffix}}" data-bs-slide-to="{{ partial "funcao/indexOf.html" . }}">
                        <span class="display-5 fw-bold m-0">{{ .LinkTitle }}</span>
                        {{- with resources.Get (print "/recursos/imagens/modulos/" $section "-off.png") -}}
                            <img src="{{ .RelPermalink }}" alt="" aria-hidden="true" draggable="false">
                        {{ end }}
                        {{- with resources.Get (print "/recursos/imagens/modulos/" $section "-on.png") -}}
                            <img src="{{ .RelPermalink }}" alt="" aria-hidden="true" draggable="false">
                        {{ end }}
                    </button>
                {{ end }}
            </nav>
        </div>
        {{ range (where .context.Site.Sections "Section" "in" .context.Site.MainSections).ByWeight }}
            <div class="carousel-item slide-{{ .Section }}">
                <div class="modulos-carrosel-titulo {{ .Section }} rounded d-flex gap-2 flex-row flex-sm-column align-items-center align-items-sm-start">
                    <button class="btn btn-outline-light icon-link fw-medium" data-bs-target="#modulosCarrossel{{$.suffix}}" data-bs-slide-to="0">
                        {{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-left")}}
                        <span class="d-none d-sm-inline">Escolher personagem</span>
                    </button>
                    <span class="display-5 fw-bold text-light">{{ strings.FirstUpper .Page.Section }}</span>
                </div>
            {{ range (where .Sections "Type" "eq" "aula").ByWeight }}
                {{ partial "slide-aula.html" (dict "Page" . "suffix" $.suffix) }}
            {{ end }}
            </div>
        {{ end }}
    </div>
</div>

{{ define "_partials/slide-aula.html" }}
{{ $id := print "modulos-" .Page.Section "--aula-" ( partial "funcao/indexOf.html" .Page ) }}
<div class="aula-{{ .Page.Weight }} mt-3">
    <div id="{{ $id }}" class="h3">
        <a href="#{{ $id }}" class="heading-anchor">{{ .Page.Title }}</a>
    </div>
    <ol class="vstack gap-1 list-unstyled">
    {{ range .Page.Pages.ByWeight }}
        <li class=""><a href="{{ .RelPermalink }}" class="btn btn-secondary text-start d-block">{{ partial "funcao/indexOf.html" . }}: {{ .Title }}</a></li>
    {{ end }}
    </ol>
</div>
{{ end }}
