{{$slideCount := 0}}

<div id="modulosCarrossel{{ .Params.suffix }}" class="modulos-carrossel carousel slide" data-bs-wrap="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <nav class="seletor-modulos">
                {{ range (where .Site.Sections "Section" "in" .Site.MainSections).ByWeight }}
                    {{ $section := .Section}}
                    <div class="seletor-modulos__modulo">
                        {{- with resources.Get (print "/images/personagens/" $section "_torso.svg") -}}
                            <div class="seletor-modulos__personagem {{ $section }}">
                                <img src="{{ .RelPermalink }}">
                            </div>
                        {{ end }}
                        <div class="seletor-modulos__conteudo">
                            <span class="text-white h1">{{ .LinkTitle }}</span>
                            {{ range .Pages }}
                                {{ $slideCount = add $slideCount 1 }}
                                <button class="btn btn-primary text-center" href="{{ .RelPermalink }}" data-bs-target="#modulosCarrossel{{$.Params.suffix}}" data-bs-slide-to="{{$slideCount}}">{{ .LinkTitle }}</button>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            </nav>
        </div>
        {{ range (where .Site.Sections "Section" "in" .Site.MainSections).ByWeight }}
            {{ range (where .Sections "Title" "like" `(?i)^aula`).ByWeight }}
                {{ partial "slide-aula.html" (dict "Page" . "suffix" $.Params.suffix) }}
            {{ end }}
        {{ end }}
    </div>
</div>

{{ define "_partials/slide-aula.html" }}
<div class="carousel-item">
    <h3 class="mb-3">
        <div class="hstack gap-2">
            <button class="btn btn-secondary btn-icone rounded-circle" data-bs-target="#modulosCarrossel{{.suffix}}" data-bs-slide-to="0">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-left")}}</button>
            {{ strings.FirstUpper .Page.Section }}
        </div>
        <div>
            {{ .Page.Title }}
        </div>
    </h3>
    <ul class="list-group list-group-flush">
    {{ range .Page.Pages.ByWeight }}
        <li class="list-group-item bg-transparent"><a href="{{ .RelPermalink }}">{{ partial "funcao/indexOf.html" . }}: {{ .Title }}</a></li>
    {{ end }}
    </ul>
    <pre>{{ debug.Dump (cond .Page.IsSection .Page.File.ContentBaseName .Page.Section) }}</pre>
    <pre>{{ debug.Dump .Page.Section }}</pre>
    {{ with .Page.Parent}}
        <div class="d-flex grid d-sm-grid text-center flex-wrap" style="--vigi-columns: 2; --vigi-gap: .5rem">
        {{ $prev := (index (where .Pages "Weight" (math.Sub $.Page.Weight 1)) 0) }}
        {{ $next := (index (where .Pages "Weight" (math.Sum $.Page.Weight 1)) 0) }}
        {{ if $prev }}
            <button class="btn btn-secondary g-start-1 w-100" type="button" data-bs-target="#modulosCarrossel{{$.suffix}}" data-bs-slide="prev">{{ $prev.Title }}</button>
        {{ end }}
        {{ if $next }}
            <button class="btn btn-secondary g-start-2 w-100" type="button" data-bs-target="#modulosCarrossel{{$.suffix}}" data-bs-slide="next">{{ $next.Title }}</button>
        {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
