{{$slideCount := 0}}

<div id="modulosCarrossel{{ .suffix }}" class="modulos-carrossel carousel slide" data-bs-wrap="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <nav class="seletor-modulos">
                {{ range (where .context.Site.Sections "Section" "in" .context.Site.MainSections).ByWeight }}
                    {{ $section := .Section}}
                    {{/*  <div class="seletor-modulos__modulo border">
                        {{- with resources.Get (print "/images/personagens/" $section "_torso.svg") -}}
                            <div class="seletor-modulos__personagem {{ $section }}">
                                <img src="{{ .RelPermalink }}">
                            </div>
                        {{ end }}
                        <div class="seletor-modulos__conteudo">
                            <span class="h1">{{ .LinkTitle }}</span>
                            {{ range .Pages }}
                                {{ $slideCount = add $slideCount 1 }}
                                <button class="btn btn-primary text-center" href="{{ .RelPermalink }}" data-bs-target="#modulosCarrossel{{$.suffix}}" data-bs-slide-to="{{$slideCount}}">{{ .LinkTitle }}</button>
                            {{ end }}
                        </div>
                    </div>  */}}
                    <button class="border rounded {{ $section }}" type="button" data-vigi-menu-aula="{{ partial "funcao/indexOf.html" . }}">
                        <span class="h1">{{ .LinkTitle }}</span>
                        {{- with resources.Get (print "/images/personagens/" $section "_torso.svg") -}}
                            <img src="{{ .RelPermalink }}" alt="" aria-hidden="true">
                        {{ end }}
                        {{- with resources.Get (print "/images/personagens/" $section ".svg") -}}
                            <img src="{{ .RelPermalink }}" alt="" aria-hidden="true">
                        {{ end }}
                    </button>
                {{ end }}
            </nav>
        </div>
        {{ range (where .context.Site.Sections "Section" "in" .context.Site.MainSections).ByWeight }}
            <div class="carousel-item">
                <div class="hstack gap-2 mb-3">
                    <button class="btn btn-secondary btn-icone rounded-circle" data-bs-target="#modulosCarrossel{{$.suffix}}" data-bs-slide-to="0">{{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-left")}}</button>
                    <h3>{{ strings.FirstUpper .Page.Section }}</h3>
                </div>
            {{ range (where .Sections "Type" "eq" "aula").ByWeight }}
                {{ partial "slide-aula.html" (dict "Page" . "suffix" $.suffix) }}
            {{ end }}
            </div>
        {{ end }}
    </div>
</div>

{{ define "_partials/slide-aula.html" }}
<div class="aula">
    <h4>{{ .Page.Title }}</h4>
    <ul class="list-group list-group-flush mb-4">
    {{ range .Page.Pages.ByWeight }}
        <li class="list-group-item bg-transparent"><a href="{{ .RelPermalink }}">{{ partial "funcao/indexOf.html" . }}: {{ .Title }}</a></li>
    {{ end }}
    </ul>
</div>
{{ end }}
