<nav class="navbar vigi-subgrid vigi-coluna-cheia navbar-expand-lg flex-nowrap">
    <div class="vigi-coluna-larga d-flex flex-grow-1 justify-content-between align-items-center">
        <nav id="a11y-links" class="vstack visually-hidden-focusable p-3 rounded border" tabindex="0">
            <h1 class="fs-6" aria-labeledby="links-de-acessibilidade"><span id="links-de-acessibilidade" aria-hidden=true>Links de acessibilidade</span></h1>
            <a href="#conteudo-principal" class="btn btn-link">Pular para o conteúdo principal</a>
            <button data-vigi-menu="modulos" class="btn btn-link">Abrir menu principal</button>
            <button data-vigi-menu="atalhos" class="btn btn-link">Lista de atalhos</button>
        </nav>
        <a class="navbar-brand hstack gap-3" href="{{ .Site.Home.RelPermalink }}">
            <img class="navbar-brand-img" src="{{ "recursos/logo.png" | relURL }}" alt="">
            <div class="navbar-brand-text">
                <span class="text-light h3 m-0">{{ site.Title }}</span>
                <span class="small text-light h6 fw-light m-0">{{ site.Params.subtitle }}</span>
            </div>
        </a>
        {{ $modulo := "" }}
        {{ $aula := "" }}
        {{ if and .Parent .Parent.Parent }}
            {{ $modulo = partial "funcao/indexOf.html" .Parent.Parent }}
            {{ $aula = partial "funcao/indexOf.html" .Parent }}
        {{ end }}
        <button class="btn btn-outline-light icon-link" type="button" id="menu-opener" data-vigi-menu-modulo="{{ $modulo }}" data-vigi-menu-aula="{{ $aula }}" title="Abrir menu principal">
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "bars" "classes" "bi") }}
            Menu
        </button>
    </div>
</nav>