<nav class="navbar vigi-grid vigi-coluna-cheia navbar-expand-lg flex-nowrap">
    <div class="vigi-coluna-larga d-flex flex-grow-1 justify-content-between align-items-center">
        <nav id="sr-links" class="vstack visually-hidden-focusable p-3 rounded border" tabindex="0">
            <span>Navegação rápida</span>
            <ul>
                <li>
                    <a href="#conteudo-principal" class="btn btn-link">Pular para o conteúdo principal</a>
                </li>
                <li>
                    <button data-vigi-menu="atalhos" class="btn btn-link link-para-conteudo">Lista de atalhos</button>
                </li>
            </ul>
        </nav>
        <a class="navbar-brand hstack gap-2" href="{{ .Site.Home.RelPermalink }}">
            <img class="navbar-brand-img" src="{{ "logo.png" | relURL }}" alt="">
            <span class="navbar-brand-text text-light h3 m-0">{{ site.Title }}</span>
        </a>
        <button class="btn btn-outline-light icon-link" type="button" id="menu-opener" data-vigi-menu title="Abrir menu principal">
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "bars" "classes" "bi") }}
            Menu
        </button>
    </div>
</nav>