<div popover id="popover-main-menu" class="border rounded">
    <div id="main-menu-titlebar" class="d-flex justify-content-between bg-body-secondary p-3 border-bottom sticky-top">
        <h3 class="m-0">Menu principal</h3>
        <button type="button" class="btn p-0" popovertarget="popover-main-menu" aria-label="Fechar">
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "xmark" "classes" "fs-3") }}
        </button>
    </div>
    <div id="main-menu-grid">
        <div id="main-menu-nav">
            <div class="nav nav-pills vstack" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link text-start active" id="main-menu-nav-modulos" data-bs-toggle="pill" data-bs-target="#main-menu-content-modulos" type="button" role="tab" aria-controls="main-menu-content-modulos" aria-selected="true">Módulos</button>
                <button class="nav-link text-start" id="main-menu-nav-creditos" data-bs-toggle="pill" data-bs-target="#main-menu-content-creditos" type="button" role="tab" aria-controls="main-menu-content-creditos" aria-selected="false">Créditos</button>
                <button class="nav-link text-start" id="main-menu-nav-a11y" data-bs-toggle="pill" data-bs-target="#main-menu-content-a11y" type="button" role="tab" aria-controls="main-menu-content-a11y" aria-selected="false">Acessibilidade</button>
            </div>
        </div>
        <div id="main-menu-select" class="sticky-top">
            <select name="main-menu-select" class="form-select">
                <option value="módulos">Módulos</option>
                <option value="créditos">Créditos</option>
                <option value="acessibilidade">Acessibilidade</option>
            </select>
        </div>
        <div id="main-menu-content" class="tab-content">
            <div class="tab-pane fade show active" id="main-menu-content-modulos" role="tabpanel" aria-labelledby="main-menu-nav-modulos" tabindex="0">
                <p>Ea irure est veniam duis deserunt eu dolor non id tempor id in aute. Anim esse non magna aliquip consequat ut amet id dolore. Commodo et magna nostrud magna cillum do consectetur Lorem laboris nostrud magna nulla sit. Veniam ipsum sunt ut consequat ad laboris in quis commodo non est. Ea non aliquip adipisicing consectetur. Laboris deserunt esse ullamco enim id aute velit et sint excepteur.</p>
            </div>
            <div class="tab-pane fade" id="main-menu-content-creditos" role="tabpanel" aria-labelledby="main-menu-nav-creditos" tabindex="0">
                <p>Magna culpa officia ea elit sint voluptate laboris duis ut in velit occaecat dolore excepteur. Aliqua dolore eu aliqua consequat occaecat est ea cillum nisi aliqua. Cillum culpa incididunt officia cupidatat commodo. Reprehenderit Lorem consequat exercitation eiusmod sint veniam deserunt non magna qui reprehenderit ex eiusmod velit.</p>
            </div>
            <div class="tab-pane fade" id="main-menu-content-a11y" role="tabpanel" aria-labelledby="main-menu-nav-a11y" tabindex="0">
                {{ partial "menu-a11y.html" }}
            </div>
        </div>
    </div>
</div>
