{{ $pages := .FirstSection.RegularPagesRecursive.ByWeight.Reverse }}

<nav id="proximo-anterior">
    {{ with $pages.Prev . }}
    <a href="{{ .RelPermalink }}" class="btn btn-secondary anterior">
        {{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-left")}}
        <span class="texto">
            <span class="direcao">Tópico anterior</span>
            <span class="titulo">{{.LinkTitle}}</span>
        </span>
    </a>
    {{ end }}

    {{ with $pages.Next . }}
    <a href="{{ .RelPermalink }}" class="btn btn-secondary proximo">
        <span class="texto">
            <span class="direcao">Próximo tópico</span>
            <span class="titulo">{{.LinkTitle}}</span>
        </span>
        {{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-right")}}
    </a>
    {{ else }}
    <button class="btn btn-secondary proximo" onclick="menu.showModal()">
        <span class="texto text-center">
            <span class="direcao">Escolher outro módulo</span>
        </span>
    </button>
    {{ end }}
</nav>

<pre>{{debug.Dump (.FirstSection.Pages.ByWeight.Reverse.Next .Parent)}}</pre>