{{ $pages := .FirstSection.RegularPagesRecursive.ByWeight.Reverse }}

<nav id="proximo-anterior">
    {{ with $pages.Prev . }}
        {{ $direcao := "Tópico anterior" }}
        {{ if ne $.Parent.LinkTitle .Parent.LinkTitle }}
            {{ $direcao = "Aula anterior" }}
        {{ end }}
        {{ $subtitulo := print "Tópico " (partial "funcao/indexOf.html" .) " de " .Page.Parent.Pages.Len }}
        <a href="{{ .RelPermalink }}" class="btn btn-secondary anterior">
            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "caret-left")}}
            <span class="texto">
                <span class="direcao">{{ $direcao }}</span>
                <span class="titulo">{{ .LinkTitle }} ({{ $subtitulo }})</span>
            </span>
        </a>
    {{ end }}

    {{ with $pages.Next . }}
        {{ $direcao := "Próximo tópico" }}
        {{ if ne $.Parent.LinkTitle .Parent.LinkTitle }}
            {{ $direcao = "Próxima aula" }}
        {{ end }}
        {{ $subtitulo := print "Tópico " (partial "funcao/indexOf.html" .) " de " .Page.Parent.Pages.Len }}
    <a href="{{ .RelPermalink }}" class="btn btn-secondary proximo">
        <span class="texto">
            <span class="direcao">{{ $direcao }}</span>
            <span class="titulo">{{.LinkTitle}} ({{ $subtitulo }})</span>
        </span>
        {{ partial "fontawesome.html" (dict "style" "solid" "icon" "caret-right")}}
    </a>
    {{ end }}
</nav>

{{ with not ($pages.Next .) }}
<section class="vstack gap-3">
    <p class="h3 text-center">Fim do módulo</p>
    <p class="text-center mb-0">Parabéns! Você concluiu este módulo.</p>
    <button class="btn btn-primary align-self-center icon-link" data-vigi-menu>{{- partial "fontawesome.html" (dict "style" "solid" "icon" "bars") -}}Escolher outro módulo</button>
</section>
{{ end }}