{{ $pages := .FirstSection.RegularPagesRecursive.ByWeight.Reverse }}

<nav id="proximo-anterior">
    {{ with $pages.Prev . }}
    <a href="{{ .RelPermalink }}" class="btn btn-secondary anterior">
        {{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-left")}}
        <span class="texto">
            <span class="direcao">Tópico anterior</span>
            <span class="titulo">{{.LinkTitle}}</span>
        </span>
    </a>
    {{ end }}

    {{ with $pages.Next . }}
    <a href="{{ .RelPermalink }}" class="btn btn-secondary proximo">
        <span class="texto">
            <span class="direcao">Próximo tópico</span>
            <span class="titulo">{{.LinkTitle}}</span>
        </span>
        {{ partial "fontawesome.html" (dict "style" "solid" "icon" "chevron-right")}}
    </a>
    {{ end }}
</nav>

{{ with not ($pages.Next .) }}
<section class="vstack gap-3">
    <h3 class="text-center">Fim do módulo</h3>
    <p class="text-center mb-0">Parabéns! Você concluiu este módulo.</p>
    <button class="btn btn-primary align-self-center icon-link" data-vigi-menu>{{- partial "fontawesome.html" (dict "style" "solid" "icon" "bars") -}}Escolher outro módulo</button>
</section>
{{ end }}