<h1 class="visually-hidden">Mídias sociais</h1>
<div class="socials hstack gap-2">
    <a href="https://www.facebook.com/formacaovigisaudefiocruz" target="_blank" title="Facebook" class="btn btn-link btn-icone p-0 icone-xl">{{ partial "fontawesome.html" (dict "style" "brands" "icon" "facebook") }}</a>
    <a href="https://www.instagram.com/formacaovigisaudefiocruz/" target="_blank" title="instagram" class="btn btn-link btn-icone p-0 icone-xl">{{ partial "fontawesome.html" (dict "style" "brands" "icon" "instagram") }}</a>
</div>