@use "base/cores";
@use "sass:color";
@use "bootstrap" as *;

@mixin focus-visible-outline {
    box-shadow: none !important;
    outline-color: var(--vigi-emphasis-color) !important;
    outline-offset: .25rem !important;
    outline-width: .125rem !important;
    outline-style: dashed !important;

    header &, &:where(dialog) {
        outline-color: $white !important;
    }
}

@mixin bg-body-vigi {
    background-color: #{color.change(cores.$vigi-branco-azulado, $alpha: 10%)} !important;
    [data-bs-theme="light"] & {
        background-color: #{color.change($white, $alpha: 50%)} !important;
    }
}