$vigi-azul-logo-light-3x: #80d8c9;
$vigi-azul-logo-light-2x: #43bac2;
$vigi-azul-logo-light:    #0397ce;
$vigi-azul-logo-dark:     #1f62aa;
$vigi-azul-logo-dark-2x:  #392e85;
$vigi-azul-logo-dark-3x:  #26235c;

// $vigi-cinza-900: #3f3d54;
// $vigi-rosa-500: #bf5687;

// Tema claro
$vigi-cinza-azulado-claro:  hsl(244, 15%, 80%);

// Tema escuro
$vigi-cinza-azulado:     hsl(245.2, 15.9%, 28.4%);
$vigi-branco-azulado:    hsl(250, 46.2%, 94.9%);
$vigi-preto-azulado:     hsl(245, 46.2%, 5.1%);
$vigi-preto-azulado-2x:  hsl(245, 46.2%, 18%);
$vigi-azul-bebe:         hsl(197, 100%, 75%);

// Tema elto contraste

