@use "utilidades/mixins";
@use "bootstrap" as *;

html {
    scroll-padding-top: 10rem;
}

p:last-child {
    margin-block-end: 0;
}

li + li, ul li ul li:first-child {
    margin-block-start: 1rem;
}

dialog::backdrop {
    backdrop-filter: blur(2px) brightness(0.5);
}

:focus-visible {
    @include mixins.focus-visible-outline;
}

blockquote {
    font-style: italic;
    footer {
        text-align: end;
    }
}

video {
    border-radius: $border-radius;
}