@use "utilidades/mixins";
@use "bootstrap" as *;

a, abbr, acronym, address, applet, article, aside, audio, b, big,
blockquote, canvas, caption, center, cite, code, dd, del, details,
dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer,
form, h1, h2, h3, h4, h5, h6, header, hgroup,
i, iframe, img, ins, kbd, label, legend, li, mark, menu,
nav, object, ol, output, p, pre, q, ruby, s, samp,
section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var,
video {
    margin: 0;
    vertical-align: baseline;
    border: 0;
    outline: none;
}

html {
    scroll-padding-top: 10rem;
}

address, article, aside, blockquote, canvas, dd, dl, dt, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hr, li, main, nav, noscript, ol, p {
    * + & {
        margin-block-start: 1rem;
    }
}

ul[type="none"] {
    padding-inline-start: 0;
}

li {
    line-height: 1.25;

    + li {
        margin-block-start: .5lh;
    }
}

/*
EXEMPLO DE LISTA DE DESCRIÇÕES
<dl>
    <dt>Designer Educacional</dt>
    <dd>Alexsandra Barbosa Joaquim</dd>
    <dd>Shênia Mineiro Martins</dd>
</dl>
<dl>
    <dt>Conteudistas</dt>
    <dd>
        <dl>
            <dt>Annick Fontbonne</dt>
            <dd>Médica, epidemiologista, com doutorado em Saúde Pública pela Universidade de Paris XI (Paris-Sud). Pesquisadora titular do Inserm (Institut National de la Santé et de la Recherche Medicale, France).</dd>
        </dl>
    </dd>
    <dd>
        <dl>
            <dt>Carolline de Araújo Mariz</dt>
            <dd>Enfermeira pela Fundação de Ensino Superior de Olinda, com mestrado em Ciências da Saúde e doutorado em Medicina Tropical pela Universidade Federal de Pernambuco.</dd>
        </dl>
    </dd>
</dl> */
dd + dd, dt + dd {
    margin-block-start: .25rem;
}

dd > dl, dt + dt {
    margin-block-start: 1rem;
}

dl + dl {
    margin-block-start: 2rem;
}

.vstack {
    &.gap-1, &.gap-2, &.gap-3, &.gap-4, &.gap-5 {
        > * {
            margin-block: 0;
        }
    }
}

a[target="_blank"]:not(:has(img:first-child:last-child, svg:first-child:last-child))::after {
    content: "";
    background-color: currentColor;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0-201.4 201.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3 448 192c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 96C35.8 96 0 131.8 0 176L0 432c0 44.2 35.8 80 80 80l256 0c44.2 0 80-35.8 80-80l0-80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 80c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l80 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 96z"/></svg>');
    mask-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-inline-start: .25rem;
    width: .75em;
    height: .75em;
}

dialog::backdrop {
    backdrop-filter: blur(2px) brightness(0.5);
}

:focus-visible {
    @include mixins.focus-visible-outline;
}

blockquote {
    font-style: italic;
    footer {
        text-align: end;
    }
}

video {
    border-radius: $border-radius;
}