@use "bootstrap" as *;

@font-face { font-family: InterDisplay; font-style: normal; font-weight: 100; font-display: auto; src: url("../fontes/Inter/InterDisplay-Thin.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 100; font-display: auto; src: url("../fontes/Inter/InterDisplay-ThinItalic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 200; font-display: auto; src: url("../fontes/Inter/InterDisplay-ExtraLight.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 200; font-display: auto; src: url("../fontes/Inter/InterDisplay-ExtraLightItalic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 300; font-display: auto; src: url("../fontes/Inter/InterDisplay-Light.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 300; font-display: auto; src: url("../fontes/Inter/InterDisplay-LightItalic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 400; font-display: auto; src: url("../fontes/Inter/InterDisplay-Regular.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 400; font-display: auto; src: url("../fontes/Inter/InterDisplay-Italic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 500; font-display: auto; src: url("../fontes/Inter/InterDisplay-Medium.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 500; font-display: auto; src: url("../fontes/Inter/InterDisplay-MediumItalic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 600; font-display: auto; src: url("../fontes/Inter/InterDisplay-SemiBold.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 600; font-display: auto; src: url("../fontes/Inter/InterDisplay-SemiBoldItalic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 700; font-display: auto; src: url("../fontes/Inter/InterDisplay-Bold.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 700; font-display: auto; src: url("../fontes/Inter/InterDisplay-BoldItalic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 800; font-display: auto; src: url("../fontes/Inter/InterDisplay-ExtraBold.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 800; font-display: auto; src: url("../fontes/Inter/InterDisplay-ExtraBoldItalic.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: normal; font-weight: 900; font-display: auto; src: url("../fontes/Inter/InterDisplay-Black.woff2") format("woff2"); }
@font-face { font-family: InterDisplay; font-style: italic; font-weight: 900; font-display: auto; src: url("../fontes/Inter/InterDisplay-BlackItalic.woff2") format("woff2"); }

@font-feature-values InterDisplay {
    @character-variant {
        cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;
        cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
        alt-1:            1; /* Alternate one */
        alt-3:            9; /* Flat-top three */
        open-4:           2; /* Open four */
        open-6:           3; /* Open six */
        open-9:           4; /* Open nine */
        lc-l-with-tail:   5; /* Lower-case L with tail */
        simplified-u:     6; /* Simplified u */
        alt-double-s:     7; /* Alternate German double s */
        uc-i-with-serif:  8; /* Upper-case i with serif */
        uc-g-with-spur:  10; /* Capital G with spur */
        single-story-a:  11; /* Single-story a */
        compact-lc-f:    12; /* Compact f */
        compact-lc-t:    13; /* Compact t */
    }
    @styleset {
        ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
        open-digits: 1;                /* Open digits */
        disambiguation: 2;             /* Disambiguation (with zero) */
        disambiguation-except-zero: 4; /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
        square-punctuation: 7;         /* Square punctuation */
        square-quotes: 8;              /* Square quotes */
        circled-characters: 5;         /* Circled characters */
        squared-characters: 6;         /* Squared characters */
    }
}

@font-face { font-family: Lora; font-style: normal; font-weight: 400; font-display: auto; src: url("../fontes/Lora/Lora-Regular.woff2") format("woff2"); }
@font-face { font-family: Lora; font-style: italic; font-weight: 400; font-display: auto; src: url("../fontes/Lora/Lora-Italic.woff2") format("woff2"); }
@font-face { font-family: Lora; font-style: normal; font-weight: 500; font-display: auto; src: url("../fontes/Lora/Lora-Medium.woff2") format("woff2"); }
@font-face { font-family: Lora; font-style: italic; font-weight: 500; font-display: auto; src: url("../fontes/Lora/Lora-MediumItalic.woff2") format("woff2"); }
@font-face { font-family: Lora; font-style: normal; font-weight: 600; font-display: auto; src: url("../fontes/Lora/Lora-SemiBold.woff2") format("woff2"); }
@font-face { font-family: Lora; font-style: italic; font-weight: 600; font-display: auto; src: url("../fontes/Lora/Lora-SemiBoldItalic.woff2") format("woff2"); }
@font-face { font-family: Lora; font-style: normal; font-weight: 700; font-display: auto; src: url("../fontes/Lora/Lora-Bold.woff2") format("woff2"); }
@font-face { font-family: Lora; font-style: italic; font-weight: 700; font-display: auto; src: url("../fontes/Lora/Lora-BoldItalic.woff2") format("woff2"); }

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv09", "cv06", "ss02", "ss03";
}

main {
    font-size: 1.25rem;
    line-height: 2rem;

    > p:first-of-type:first-letter {
    font-size: 200%; /* Makes the first letter three times the normal font size */
    }
}

.fs-body {
    @include font-size(var(--#{$prefix}body-font-size));
}

.ff-serif {
    font-family: var(--#{$prefix}body-font-family) !important;
}

.ff-sans-serif {
    font-family: #{inspect($font-family-base)} !important;
}