body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    font-family: Lora, serif;
    margin-bottom: 2rem;

    p a {
        border-image-source: url(../../recursos/imagens/wave-border.svg);
        border-image-outset: 3px;
        border-image-repeat: stretch;
        border-image-slice: 6;
        border-image-width: 0 0 6px 0;
        text-decoration: none;
    }
}