@use "bootstrap" as *;

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    @media screen and (max-width: 20rem) {
        hyphens: auto;
    }
}

:root {
    --#{$prefix}main-font-family: #{inspect($font-family-serif)};
    --#{$prefix}display-font-family: #{inspect($display-font-family)};
}

main {
    font-family: var(--#{$prefix}main-font-family);
    margin-bottom: 2rem;

    div:has(> p) {
        container-type: inline-size;
    }

    p {
        text-align: justify;
        @container (max-width: 15rem) {
            text-align: start;
        }

        a {
            border-image-source: url(../../recursos/imagens/wave-border.svg);
            border-image-outset: 3px;
            border-image-repeat: stretch;
            border-image-slice: 14;
            border-image-width: 0 0 6px 0;
            text-decoration: none;
        }
    }
}