@use "base/cores";
@use "sass:color";
@use "bootstrap" as *;

body > footer {
    margin-top: auto;
    color: $body-color-dark;
    background-color: shade-color(cores.$vigi-azul-logo-dark-3x, 50%);

    a {
        color: cores.$vigi-azul-bebe;
        text-decoration-color: cores.$vigi-azul-bebe;

        &:hover, &:focus {
            color: shade-color(cores.$vigi-azul-bebe, $link-shade-percentage);
            text-decoration-color: shade-color(cores.$vigi-azul-bebe, $link-shade-percentage);
        }
    }
    
    [data-bs-theme="highcontrast"] & {
        color: $body-color-highcontrast;
        background-color: $gray-900;
    }

    .acesso-aberto, .licensa {
        text-align: justify
    }
}

.regua-logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    img {
        object-fit: contain;
        --logos-height-base: 3rem;
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: auto;
        width: auto;
        max-width: min(calc(100vw - var(--scrollbar-width)), 10rem);
        height: var(--logos-height-base);

        &.logo-govfed {
            max-width: calc(100vw - var(--scrollbar-width));
            height: calc(var(--logos-height-base) * 1.8);
        }
    }

    + .regua-logos {
        margin-top: 2rem;
    }
}