@use "base/cores";
@use "sass:color";
@use "bootstrap" as *;

body > footer {
    margin-top: auto;
    color: $body-color-dark;
    background-color: shade-color(cores.$vigi-azul-logo-dark-3x, 50%);
    [data-bs-theme="highcontrast"] & {
        color: $body-color-highcontrast;
        background-color: $gray-900;
    }
}

.regua-logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
        --logos-height-base: 3rem;
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: auto;
        width: auto;
        max-width: 10rem;
        height: var(--logos-height-base);

        &.logo-govfed {
            max-width: none;
            height: calc(var(--logos-height-base) * 1.8);
        }
    }

    + .regua-logos {
        margin-top: 2rem;
    }
}