@use "bootstrap" as *;

footer {
    margin-top: auto;
}

.regua-logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
        --logos-height-base: 3rem;
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: auto;
        width: auto;
        max-width: 10rem;
        height: var(--logos-height-base);

        &.logo-govfed {
            max-width: none;
            height: calc(var(--logos-height-base) * 1.8);
        }
    }

    + .regua-logos {
        margin-top: 2rem;
    }
}