@use "bootstrap" as *;

a.heading-anchor {
    color: inherit !important;
    position: relative;

    &:not(:hover) {
        -webkit-text-decoration: none;
        text-decoration: none;
    }

    &::before, &::after {
        position: absolute;
        margin-top: 0.3em;
        font-size: 0.75em;
        color: var(--color-text-secondary);
    }

    @media not (width <= 769px) {
        &::before {
            padding-right: 0.8em;
            margin-left: -0.8em;
            content: "#";
        }
    }

    .vigi-card-title > &::before {
        content: none;
    }

    @media (width <= 769px) {
        padding-right: 1.1ch;

        &::after {
            margin-left: 0.25em;
            content: "#";
        }
    }

    .vigi-card-title &::after {
        margin-left: 0.25em;
        content: "#";
    }

    &:not(:hover, :focus) {
        &::before, &::after {
            visibility: hidden;
        }
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    &:has(> a.heading-anchor) {
        border-bottom: var(--vigi-border-width) var(--vigi-border-style) var(--vigi-border-color);
    }
}
