@use "bootstrap" as *;

dialog {
    font-family: var(--#{$prefix}body-font-family);
    @include font-size(var(--#{$prefix}body-font-size));
    font-weight: var(--#{$prefix}body-font-weight);
    line-height: var(--#{$prefix}body-line-height);
    color: var(--#{$prefix}body-color);
    text-align: var(--#{$prefix}body-text-align);
    background-color: var(--#{$prefix}body-bg); // 2
    -webkit-text-size-adjust: 100%; // 3
    -webkit-tap-highlight-color: rgba($black, 0); // 4
}

#menu[open] {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 80dvh;
    width: auto;
    max-width: Min(80vw, 110ch);
    padding: 0;
    background-color: var(--vigi-tertiary-bg);
    overflow: hidden;
    bottom: auto;
    top: 10dvh;

    @include media-breakpoint-down(md) {
        margin: 0 .5rem;
        max-width: none;
        gap: .5rem;
    }

    @media screen and (max-height: 38rem) {
        max-height: none;
        height: auto;
        bottom: .5rem;
        top: .5rem;
    }
}

#menu-titlebar {
    align-items: center;

    @media screen and (max-height: 38rem) {
        padding: .5rem !important;
    }
}

#menu-grid {
    display: grid;
    grid-template:
        "tabs content" 1fr
        "socials content" / min-content 1fr;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        grid-template:
        "tabs"
        "content" 1fr
        "socials" / 1fr;
        gap: 0;
    }
}

#menu-conteudo {
    grid-area: content;
    overflow: auto;
    padding: 1rem;
    scroll-margin-block-start: 10rem;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;

    @media screen and (max-height: 38rem) {
        padding: .5rem
    }
    @include media-breakpoint-down(md) {
        padding: .5rem
    }

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }

    & > .vigi-grid.active {
        display: grid;
    }
}

.voltar-ao-topo {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    z-index: 1;
    opacity: .8;
    width: 2.6rem;
    scale: 0;
    visibility: hidden;

    #menu-conteudo.deslocado > & {
        scale: 1;
        visibility: visible;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        transition: bottom ease-out .15s, visibility ease-out .15s, width ease-out .15s;
    }

    > svg {
        flex: 0 0 auto;
    }

    > span {
        display: inline-block;
        white-space: nowrap;
        min-width: 0;
        overflow: hidden;
    }

    &:hover {
        opacity: 1;
        width: 15ch;
    }
}

#menu-tabs {
    grid-area: tabs;
    padding: .5rem;
    padding-right: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    @include media-breakpoint-down(md) {
        display: none;
    }
}

#menu-socials {
    grid-area: socials;
    padding: 1rem;
    @include media-breakpoint-down(md) {
        display: none;
    }
}

#menu-select {
    display: none;
    @include media-breakpoint-down(md) {
        display: block;
        padding: 0 .5rem;
    }
}