@use "base/cores";
@use "bootstrap" as *;

.modulos-carrossel .carousel-inner {
    overflow: visible;

    .carousel-item .h3 {
        scroll-margin-top: 11rem;
    }

    &:has(.carousel-item-start, .carousel-item-end) {
        overflow: clip;
    }

    .carousel-item-next, .carousel-item-next {
        position: sticky;
        top: 0;
    }

    .seletor-modulos {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 1rem;

        :has(> &) {
            container-type: inline-size;
        }

        @container (width < 500px) {
            grid-template: 1fr / 1fr;
        }

        button {
            color: var(--vigi-light-text, var(--vigi-light, $white));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: cores.$vigi-cinza-azulado;
            background-position-y: center;
            background-size: cover;
            padding: 0;
            filter: saturate(.75);

            &.luana {
                background-image: url(../imagens/modulos/luana-bg.jpg);
            }
            &.thiago {
                background-image: url(../imagens/modulos/thiago-bg.jpg);
            }
            &.mariana {
                background-image: url(../imagens/modulos/mariana-bg.jpg);
            }
            &.pedro {
                background-image: url(../imagens/modulos/pedro-bg.jpg);
            }

            h2 {
                color: $white;
                width: 11rem;
                direction: rtl;
            }

            svg {
                color: $white;
            }

            span {
                width: 7ch;
            }

            img {
                width: 4.5rem;
                height: 6rem;
                object-fit: cover;
                overflow: visible;
                object-position: bottom center;
                user-select: none;
                align-self: flex-end;
                transition: scale 0.3s ease, translate .3s ease;

                @media (prefers-reduced-motion: reduce) {
                    &:nth-of-type(1) {
                        width: 0;
                        height: 0;
                    }
                }

                @media (prefers-reduced-motion: no-preference) {
                    &:nth-of-type(2) {
                        width: 0;
                        height: 0;
                    }
                }
            }

            &:hover, &:focus {
                filter: saturate(1.5);

                @media (prefers-reduced-motion: no-preference) {
                    img:nth-of-type(1) {
                        width: 0;
                        height: 0;
                        scale: 1.12;
                        translate: -6% -6%;
                    }

                    img:nth-of-type(2) {
                        width: 4.5rem;
                        height: 6rem;
                        scale: 1.12;
                        translate: -6% -6%;
                    }
                }
            }
        }
    }

    .modulos-carrosel-titulo {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--vigi-tertiary-bg);
        padding: 1rem;
        background-position-y: center;
        background-size: cover;
        min-height: min(8rem, 20dvh);
        box-shadow: 0 0 1rem 1rem var(--vigi-tertiary-bg), 0px -1rem 0px 1rem var(--vigi-tertiary-bg);

        &.luana {
            background-image: url(../imagens/modulos/luana-bg.jpg);
        }
        &.thiago {
            background-image: url(../imagens/modulos/thiago-bg.jpg);
        }
        &.mariana {
            background-image: url(../imagens/modulos/mariana-bg.jpg);
        }
        &.pedro {
            background-image: url(../imagens/modulos/pedro-bg.jpg);
        }
    }
}
