@use "bootstrap" as *;

.topico-titulo {
    min-height: min(30vh, 30rem);
    margin-top: -1rem;
    background-image:
        linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
        url(../imagens/titulo-bg.png),
    ;
    background-position: center;
    background-repeat: repeat-x, no-repeat;
    background-size: auto, auto;

    @media (width <= 1920px) {
        background-size: auto, cover , auto;
    }

    h1 {
        @include font-size(4rem);
    }
}