@use "bootstrap" as *;

.topico-titulo {
    min-height: min(50vh, 480px);
    margin-top: -1rem;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image:
            linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
            url(../imagens/banners/comum-banner-1.jpg),
        ;
        background-position: right max(50%,min(35%,0px)) center;
        background-repeat: repeat-x, no-repeat;
        background-size: auto, auto 100%;
        mask-image: url(../imagens/banners/banner-mask.jpg);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: auto 100%;
        mask-mode: luminance;

        html[data-vigi-modulo="luana"][data-vigi-aula="1"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/luana-banner-1.jpg),
            ;
        }
        html[data-vigi-modulo="luana"][data-vigi-aula="2"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/luana-banner-2.jpg),
            ;
        }
        html[data-vigi-modulo="thiago"][data-vigi-aula="1"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/thiago-banner-1.jpg),
            ;
        }
        html[data-vigi-modulo="thiago"][data-vigi-aula="2"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/thiago-banner-2.jpg),
            ;
        }
        html[data-vigi-modulo="thiago"][data-vigi-aula="3"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/thiago-banner-3.jpg),
            ;
        }
        html[data-vigi-modulo="mariana"][data-vigi-aula="1"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/mariana-banner-1.jpg),
            ;
        }
        html[data-vigi-modulo="mariana"][data-vigi-aula="2"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/mariana-banner-2.jpg),
            ;
        }
        html[data-vigi-modulo="pedro"][data-vigi-aula="1"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/pedro-banner-1.jpg),
            ;
        }
        html[data-vigi-modulo="pedro"][data-vigi-aula="2"] & {
            background-image:
                linear-gradient(to top, rgba(var(--vigi-body-bg-rgb), .75), rgba(var(--vigi-body-bg-rgb), .25)),
                url(../imagens/banners/pedro-banner-2.jpg),
            ;
        }
    }

    h1 {
        @include font-size(4rem);
    }
}