
{{- $vigiicone := (.Get "vigiicone") -}}
{{- $header := (.Get "header") -}}

<div class="vigi-card">
    {{- with $vigiicone -}}
        <div class="vigi-card-header btn_icon">
            {{ partial "vigiicone.html" (dict "icone" . "classes" "icone-4x" ) }}
            {{ with $header -}}
                <span class="vigi-card-title display-6">{{ . }}</span>
            {{- end -}}
        </div>
    {{- else with $header -}}
        <div class="vigi-card-header btn_icon">
            <span class="vigi-card-title display-6">{{ . }}</span>
        </div>
    {{- end -}}
    <div class="vigi-card-body">
        {{ .Inner }}
    </div>
</div>