
{{- $autoincrement := partial "funcao/autoincrement.html" (dict "context" . "name" "card") -}}
{{- $vigiicone := (.Get "vigiicone") -}}
{{- $header := (.Get "header") -}}
{{- $pista := .Get "pista" | default false -}}
{{- $classes := .Get "classes" | default "" -}}

<section class="vigi-card{{ with $classes }} {{ . }}{{ end }}">
    {{- with $vigiicone -}}
        <div class="vigi-card-header">
            {{ partial "vigiicone.html" (dict "icone" . "classes" "icone-4x" ) }}
            {{ with $header -}}
                <span id="{{ $vigiicone }}{{ $autoincrement }}" class="vigi-card-title display-6">
                    <a href="#{{ $vigiicone }}{{ $autoincrement }}" class="heading-anchor">{{ . }}</a>
                </span>
            {{- end -}}
        </div>
    {{- else with $header -}}
        <div class="vigi-card-header btn_icon">
            <span class="vigi-card-title display-6">{{ . }}</span>
        </div>
    {{- end -}}
    <div class="vigi-card-body{{ with $pista }} pista{{ end }}">
        {{ .Inner }}
    </div>
</section>