
{{- $id := print "figdescricao-" (.Get "id" | default (partial "funcao/autoincrement.html" .)) -}}
{{- $arquivo := .Get "arquivo" -}}
{{- $alt := .Get "alt" -}}
{{- $classes := .Get "classes" | default "" -}}
{{- $legenda := .Get "legenda" | default "" -}}
{{- $fonte := .Get "fonte" | safeHTML | default "" -}}
{{- $pista := .Get "pista" | default false -}}

<figure {{ with $classes }}class="{{ . }}"{{ end }}>
    {{ with $pista }}<label{{ else }}<div{{ end }} class="figcontent">
        {{ with $pista }}<input type="checkbox" name="pista">{{ end }}
        <img class="img-fluid lightbox" src="{{ $arquivo }}" style="grid-area: 1 / 1;" alt="{{ $alt }}" tabindex="0">
        {{ with (.Inner | safeHTML) }}
        <button {{ with $pista }}hidden data-pista-hidden{{ end }} class="figcontent__btn btn btn-secondary btn-sm mx-auto collapsed" type="button" data-bs-animation="false" data-bs-toggle="collapse" data-bs-target="#{{- $id -}}" role="paragraph" tabindex="-1">
            <span aria-hidden="true">Legenda</span>
        </button>
        <div class="figdescricao collapse collapse-nothidden fade" id="{{ $id }}" data-bs-animation="false" tabindex="0">
            <button class="figdescricao__btn btn btn-secondary btn-icone btn-sm collapsed" type="button" data-bs-animation="false" data-bs-toggle="collapse" data-bs-target="#{{ $id }}" role="paragraph" tabindex="-1">
                {{ partial "fontawesome.html" (dict "style" "solid" "icon" "xmark") }}
            </button>
            {{ . }}
        </div>
        {{ end }}
    {{ with $pista }}</label>{{ else }}</div>{{ end }}
    <figcaption>
        {{ with $legenda }}
        <p>{{ . }}</p>
        {{ end }}
        {{ with $fonte }}
        <p class="figfonte">Fonte: {{ . }}</p>
        {{ end }}
    </figcaption>
</figure>