
{{- $arquivo := .Get "arquivo" -}}
{{- $classes := .Get "classes" | default "" -}}
{{- $descricao := .Get "descrição" | default "" -}}
{{- $fonte := .Get "fonte" | safeHTML | default "" -}}

<figure {{ with $classes }}class="{{ . }}"{{ end }}>
    {{- if $descricao -}}
    <figcaption>
        <p>{{ $descricao }}</p>
    </figcaption>
    {{- end -}}
    <audio class="mb-3" type="audio/mp3" src="{{ $arquivo }}.mp3" controls>
        <track label="Português (Brasil)" kind="subtitles" srclang="pt-BR" src="{{ $arquivo }}.vtt" default>
        Seu navegador não suporta o elemento <code>audio</code>.
    </audio>
    <div class="legenda" aria-hidden="true" hidden></div>
    {{- .Inner | safeHTML -}}
    {{- if not $descricao -}}<figcaption>{{- end -}}
    {{- if $fonte -}}<p class="figfonte">Fonte: {{ $fonte }}</p>{{- end -}}
    {{- if not $descricao -}}</figcaption>{{- end -}}
</figure>
