

{{- $autoincrement := partial "funcao/autoincrement.html" (dict "context" . "name" "figura") -}}
{{- $descricaoid := print "figdescricao-" (.Get "id" | default $autoincrement) -}}
{{- $arquivo := .Get "arquivo" -}}
{{- $alt := .Get "alt" -}}
{{- $classes := .Get "classes" | default "" -}}
{{- $titulo := .Get "titulo" | default "" -}}
{{- $fonte := .Get "fonte" | safeHTML | default "" -}}
{{- $pista := .Get "pista" | default false -}}
{{- $eVideo := eq (path.Ext $arquivo) ".mp4" -}}
{{- $atributos := .Get "atributos" | default (cond $eVideo "controls" "") | safeHTMLAttr -}}

<figure {{ with $classes }}class="{{ . }}"{{ end }}>
    {{ with $titulo }}
    <figcaption class="text-center small">
        <span>{{ . }}</span>
    </figcaption>
    {{ end }}
    <div class="figcontent{{ with $pista }} pista{{ end }}">
        {{ with $eVideo }}
        <video class="img-fluid" src="{{ $arquivo }}" alt="{{ $alt }}" {{ $atributos }}></video>
        {{ else }}
        <img class="img-fluid lightbox" src="{{ $arquivo }}" alt="{{ $alt }}" tabindex="0">
        {{ end }}
        {{ with (.Inner | safeHTML) }}
        <button {{ with $pista }}data-pista-hidden{{ end }} class="figcontent__btn btn btn-secondary btn-sm mx-auto collapsed" type="button" data-bs-animation="false" data-bs-toggle="collapse" data-bs-target="#{{ $descricaoid }}" role="paragraph" tabindex="-1">
            <span aria-hidden="true">Legenda</span>
        </button>
        <div class="figdescricao collapse collapse-nothidden fade" id="{{ $descricaoid }}" data-bs-animation="false" tabindex="0">
            <button class="figdescricao__btn btn btn-secondary btn-icone btn-sm collapsed" type="button" data-bs-animation="false" data-bs-toggle="collapse" data-bs-target="#{{ $descricaoid }}" role="paragraph" tabindex="-1">
                {{ partial "fontawesome.html" (dict "style" "solid" "icon" "xmark") }}
            </button>
            {{ . }}
        </div>
        {{ end }}
    </div>
    {{ with $fonte }}
    <p class="figfonte">Fonte: {{ . }}</p>
    {{ end }}
</figure>