

{{- $autoincrement := partial "funcao/autoincrement.html" (dict "context" . "name" "figura") -}}
{{- $descricaoid := print "figdescricao-" (.Get "id" | default $autoincrement) -}}
{{- $arquivo := .Get "arquivo" -}}
{{- $alt := .Get "alt" -}}
{{- $classes := .Get "classes" | default "" -}}
{{- $titulo := .Get "titulo" | default "" -}}
{{- $fonte := .Get "fonte" | safeHTML | default "" -}}
{{- $pista := .Get "pista" | default false -}}
{{- $eVideo := .Get "evideo" | default (eq (path.Ext $arquivo) ".mp4") -}}
{{- $eWebp := eq (path.Ext $arquivo) ".webp" -}}
{{- $atributos := .Get "atributos" | default (cond $eVideo "controls playsinline" "") | safeHTMLAttr -}}
{{- $posicao := .Get "posicao" | default (cond $eVideo "top-right" "bottom-right") -}}

<figure {{ with $classes }}class="{{ . }}"{{ end }}>
    {{ with $titulo }}
    <figcaption class="text-center small">
        <span>{{ . }}</span>
    </figcaption>
    {{ end }}
    <div class="figcontent{{ with $pista }} pista{{ end }}">
        {{ with $eVideo }}
        <video class="img-fluid" src="{{ $arquivo }}" alt="{{ $alt }}" {{ $atributos }}></video>
        {{ else with $eWebp }}
        <picture>
            <source srcset="{{ replaceRE "\\.webp$" ".jpg" $arquivo | safeURL }}" media="(prefers-reduced-motion: reduce)"> 
            <img class="img-fluid lightbox" src="{{ $arquivo }}" type="image/webp" alt="{{ $alt }}">
        </picture>
        {{ else }}
        <img class="img-fluid lightbox" src="{{ $arquivo }}" alt="{{ $alt }}" tabindex="0">
        {{ end }}
        {{ with (.Inner | strings.TrimSpace | safeHTML) }}
        <details>
            <summary class="btn btn-secondary btn-sm {{ $posicao }}" type="button">
                <span class="transcricao-abrir">Transcrição</span>
                <span class="transcricao-fechar" title="Fechar transcrição">Fechar</span>
            </summary>
            <div class="transcricao">{{ . }}</div>
        </details>
        {{ end }}
    </div>
    {{ with $fonte }}
    <p class="figfonte">Fonte: {{ . }}</p>
    {{ end }}
</figure>