{{- $level := .Get "level" | default "2" }}
{{- $tag := .Get "tag" | default (print "h" $level) }}
{{- $classes := .Get "classes" -}}
{{- $title := .Get "title" }}
{{- $prefix := .Get "prefix" }}

{{ $id := anchorize $title }}

{{ with $prefix}}
    {{ $id = urlize (print $prefix "--" $title) }}
{{ end }}

{{ print "<" $tag | safeHTML }}{{ with $id }} id="{{ . }}"{{ end }}{{ with $classes }} class="{{ . }}"{{ end }}>
    <a href="#{{ $id }}" class="heading-anchor">{{ $title }}</a>
{{ print "</" $tag ">" | safeHTML }}