{{- $autoincrement := partial "funcao/autoincrement.html" (dict "context" . "name" "quiz") -}}
{{- $classes := .Get "classes" | default "" -}}
{{- $pergunta := .Get "pergunta" | safeHTML }}
{{/*  tipo = unico|multiplo|mapa  */}}

{{/*  Normaliza e obtem 'tipo' com "multiplo" como padrão  */}}
{{- $tipo := .Get "tipo" | default "multiplo" | lower | strings.TrimSpace -}}

{{/*  Flags  */}}
{{- $eUnico := eq $tipo "unico" -}}
{{- $eMultiplo := eq $tipo "multiplo" -}}
{{- $eMapa  := eq $tipo "mapa"  -}}

{{- $opcoes := slice -}}
{{- $corretos := split (.Get "corretos") "," -}}
{{- $mapa := split (.Get "mapa") "," -}}
{{- $forma := "square" -}}
{{/*  Se for do tipo único, usamos apenas o primeiro valor da lista  */}}
{{- if $eUnico -}}
    {{- $corretos = slice (index $corretos 0) -}}
    {{- $forma = "circle" -}}
{{- end -}}

{{- range seq 0 99 -}}
    {{- $param := printf "opcao%d" . -}}
    {{- $texto := $.Get $param -}}
    {{- if $texto -}}
        {{- $index := printf "%d" . -}} {{/*  opcao[N]  */}}
        {{- $opcao := dict "index" . "texto" ($texto | safeHTML) -}}
        {{- if $eMapa -}}
            {{/*  Com mapas, parametro de opções devem começar com index 0 e incrementar 1 a cada nova opção.  */}}
            {{- $opcao = merge $opcao (dict "corretoClass" (print "correto-" (index $corretos .))) -}}
        {{- else if in $corretos $index -}}
            {{- $opcao = merge $opcao (dict "corretoClass" "correto") -}}
        {{- end -}}
        {{- $opcoes = $opcoes | append $opcao -}}
    {{- end -}}
{{- end -}}

{{- $feedbackpositivo := .Get "feedbackpositivo" | safeHTML -}}
{{- $feedbacknegativo := .Get "feedbacknegativo" | safeHTML -}}

<fieldset class="vigi-quiz vstack gap-1 {{ with $classes }} {{ . }}{{ end }}" data-quiz="{{ $tipo }}" data-resposta-index="2">
    <legend>{{ $pergunta }}</legend>
    <div class="opcoes">
        {{- range $opcoes -}}
            <label class="opcao btn btn-secondary{{ with .corretoClass }} {{ . }}{{ end }}">
                {{- if $eMapa -}}
                    <select name="quiz{{ $autoincrement }}-opcao">
                        <option value=""></option>
                        {{ range $opcoes }}
                            <option value="{{ .index }}">{{ index $mapa .index | default .index }}</option>
                        {{ end }}
                    </select>
                {{ else }}
                    {{ partial "fontawesome.html" (dict "style" "regular" "icon" $forma "classes" (print $forma " icone-lg")) }}
                    {{ partial "fontawesome.html" (dict "style" "regular" "icon" (print $forma "-check") "classes" (print $forma "-check icone-lg")) }}
                    <input type="{{ cond $eUnico "radio" "checkbox"}}" name="quiz{{ $autoincrement }}-opcao">
                {{ end }}
                <div>
                    {{ if $eMapa }}
                        <span class="alert alert-success small p-0 px-1 correcao-correto">
                            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "check") }}
                            <span>A sua resposta está correta.</span>
                        </span>
                    {{ else }}
                        <span class="alert alert-success small p-0 px-1 correcao-correto">
                            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "check") }}
                            <span>A marcação está correta.</span>
                        </span>
                    {{ end }}
                    {{ if $eMapa }}
                        <span class="alert alert-danger small p-0 px-1 correcao-errado">
                            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "xmark") }}
                            <span>A resposta correta é "{{ index $mapa (index $corretos .index | int) | default .index }}".</span>
                        </span>
                    {{ else if and $eUnico .corretoClass }}
                        <span class="alert alert-success small p-0 px-1 correcao-errado">
                            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "check") }}
                            <span>Essa é a escolha correta.</span>
                        </span>
                    {{ else }}
                        <span class="alert alert-danger small p-0 px-1 correcao-errado">
                            {{ partial "fontawesome.html" (dict "style" "solid" "icon" "xmark") }}
                            <span>A marcação está errada.</span>
                        </span>
                    {{ end }}
                    <div>{{ .texto }}</div>
                </div>
            </label>
        {{ end }}
    </div>
    <label type="button" class="confirmar btn btn-primary">
        Confirmar
        <input type="checkbox" name="quiz{{ $autoincrement }}-confirmar">
    </label>
    {{ with $feedbackpositivo }}
        <div class="feedback-positivo alert alert-success">{{ . }}</div>
    {{ end }}
    {{ with $feedbacknegativo }}
        <div class="feedback-negativo alert alert-danger">{{ . }}</div>
    {{ end }}
    <div class="feedback-negativo alert alert-danger" data-quiz-feedback-index="1">index-1</div>
    <div class="feedback-negativo alert alert-danger" data-quiz-feedback-index="2">index-2</div>
    <div class="feedback-negativo alert alert-danger" data-quiz-feedback-index="3">index-3</div>
    <div class="acoesfinais gap-1 flex-wrap">
        <button type="button" class="tentar btn btn-primary flex-grow-1">Tentar novamente</button>
        <button type="button" class="recomecar btn btn-primary flex-grow-1">Recomeçar</button>
        <label type="button" class="corrigir btn btn-secondary flex-grow-1">
            <span class="corrigir-mostrar">Mostrar correção</span>
            <span class="corrigir-ocultar">Ocultar correção</span>
            <input class="d-none" type="checkbox" name="quiz{{ $autoincrement }}-corrigir">
        </label>
    </div>
</fieldset>