{{- $nome := (.Get "nome") }}
{{- $pergunta := (.Get "pergunta") }}
{{- $multi := default false (.Get "multi") }}
{{- $opcoes := split (.Get "opcoes") "\r\n" }}
{{- $feedbackpositivo := (.Get "feedbackpositivo") }}
{{- $feedbacknegativo := (.Get "feedbacknegativo") }}

<fieldset class="vigi-quiz vstack gap-1">
    <legend>{{ $pergunta }}</legend>
    {{ range $opcoes }}
        <label class="opcao btn btn-secondary">
            {{ partial "fontawesome.html" (dict "style" "regular" "icon" "circle" "classes" "icone-lg circle") }}
            {{ partial "fontawesome.html" (dict "style" "regular" "icon" "circle-check" "classes" "icone-lg circle-check") }}
            <input type="radio" name="{{ $nome }}">
            {{ . }}
        </label>
    {{ end }}
    <button type="buton" class="enviar btn btn-primary">Mostrar resposta</button>
    <div class="feedback feedback-positivo alert alert-success">{{ $feedbackpositivo }}</div>
    <div class="feedback feedback-negativo alert alert-danger">{{ $feedbacknegativo }}</div>
</fieldset>