<div popover id="popover-a11y" class="border rounded">
    <div class="d-flex justify-content-between p-3 border-bottom position-sticky top-0">
        <h3 class="m-0">Acessibilidade</h3>
        <button type="button" class="btn-close" popovertarget="popover-a11y" aria-label="Fechar"></button>
    </div>
    <div class="p-3">
        <div class="mb-3">
            <h4>Tema</h4>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="theme" value="light">
                    Claro
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="theme" value="dark">
                    Escuro
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="theme" value="highcontrast">
                    Alto contraste
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="theme" value="auto" checked>
                    Automático <small>(sistema)</small>
                </label>
            </div>
        </div>
        <div class="mb-3">
            <h4>Tamanho da fonte</h4>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="fonst-size" value="0.5">
                    Muito pequeno
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="fonst-size" value="0.75">
                    Pequeno
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="fonst-size" value="1" checked>
                    Médio <small>(recomendado)</small>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="fonst-size" value="1.25">
                    Grande
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="fonst-size" value="1.5">
                    Muito grande
                </label>
            </div>
        </div>
    </div>
</div>
