<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header class="sticky-top vigi-grid bg-body-tertiary">
            {{ partial "header.html" . }}
            {{ if not .IsHome }}
                {{ partial "breadcrumb.html" . }}
            {{ end }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
        {{ partial "endofbody.html" . }}
    </body>
</html>
