@use "bootstrap" as *;

dialog {
    font-family: var(--#{$prefix}body-font-family);
    @include font-size(var(--#{$prefix}body-font-size));
    font-weight: var(--#{$prefix}body-font-weight);
    line-height: var(--#{$prefix}body-line-height);
    color: var(--#{$prefix}body-color);
    text-align: var(--#{$prefix}body-text-align);
    background-color: var(--#{$prefix}body-bg); // 2
    -webkit-text-size-adjust: 100%; // 3
    -webkit-tap-highlight-color: rgba($black, 0); // 4
}

#menu:open {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: min(35rem, 80vh);
    max-height: 80vh;
    width: auto;
    max-width: Min(80vw, 110ch);
    padding: 0;
    background-color: var(--vigi-tertiary-bg);
    overflow: hidden;
    bottom: auto;
    top: 10vh;

    @include media-breakpoint-down(md) {
        width: auto;
        gap: .5rem;
    }
}

#menu-grid {
    display: grid;
    grid-template: "tabs content" 1fr / auto 1fr;
    gap: 1rem;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        grid-template:
        "tabs" auto
        "content" 1fr / 1fr;
        gap: 0;
    }
}

#menu-conteudo {
    grid-area: content;
    overflow: auto;
    padding: 1rem;
    scrollbar-gutter: stable;
}

#menu-tabs {
    grid-area: tabs;
    padding: .5rem;
    padding-right: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    @include media-breakpoint-down(md) {
        display: none;
    }
}

#menu-select {
    display: none;
    @include media-breakpoint-down(md) {
        display: block;
        padding: 0 .5rem;
    }
}