
.modulos-carrossel .carousel-inner {
    overflow: visible;

    &:has(.carousel-item-start, .carousel-item-end) {
        overflow: clip;
    }

    .carousel-item-next, .carousel-item-next {
        position: sticky;
        top: 0;
    }
}

.seletor-modulos {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1rem;

    :has(> &) {
        container-type: inline-size;
    }

    @container (width < 500px) {
        grid-template: 1fr / 1fr;
    }

    &__modulo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        border: white solid 1px;
        padding: 1rem;
        border-radius: .5rem;
        row-gap: 1rem;
    }

    &__personagem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 8rem;

        > img {
            height: 100%;
            transform: scale(calc(1.25));
            pointer-events: none;
        }
    }

    &__conteudo {
        display: flex;
        flex: 1 1 55%;
        row-gap: .25rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .mariana, .pedro {
        transform: scaleX(-1);
    }
}