@use "bootstrap" as *;
.modulos-carrossel .carousel-inner {
    overflow: visible;

    &:has(.carousel-item-start, .carousel-item-end) {
        overflow: clip;
    }

    .carousel-item-next, .carousel-item-next {
        position: sticky;
        top: 0;
    }
}

.seletor-modulos {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1rem;

    :has(> &) {
        container-type: inline-size;
    }

    @container (width < 500px) {
        grid-template: 1fr / 1fr;
    }

    &__modulo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        padding: 1rem;
        border-radius: .5rem;
        row-gap: 1rem;
    }

    &__personagem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 8rem;

        > img {
            height: 100%;
            transform: scale(calc(1.25));
            pointer-events: none;
        }
    }

    &__conteudo {
        display: flex;
        flex: 1 1 55%;
        row-gap: .25rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}



// v2

.seletor-modulos {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: transparent;
        &:hover, &:focus {
            background-color: green;
        }

        span {
            width: 7ch;
        }

        img {
            width: 4rem;
            height: 6rem;
            object-fit: cover;
            object-position: bottom;
            overflow: visible;
            scale: 1.15;
        }
    }
}

.seletor-modulos button img:nth-of-type(1) {
    width: 4rem;
    scale: 1;
    translate: 0 0;
}

.seletor-modulos button img:nth-of-type(2) {
    width: 0;
    scale: 1;
    translate: 0 0;
}

.seletor-modulos button:hover img:nth-of-type(1) {
    width: 0;
    scale: 1.12;
    translate: -6% -6%;
    transform: scaleX(-1);
}

.seletor-modulos button:hover img:nth-of-type(2) {

    width: 4rem;
    scale: 1.12;
    translate: -6% -6%;
    transform: scaleX(-1);
}

.seletor-modulos button img {
    transition: scale 0.3s ease, translate .3s ease;
}