@use "base/cores";
@use "bootstrap" as *;

.navbar {
    background-color: cores.$vigi-azul-logo-dark-3x;
    [data-bs-theme="highcontrast"] & {
        background-color: $gray-800;
    }
}

.navbar-brand-img {
    height: 1lh;
}

@include media-breakpoint-down(sm) {
    .navbar-brand-text {
        display: none;
    }
}
