@use "bootstrap" as *;

#proximo-anterior {
    display: grid;
    gap: .5rem;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: "anterior proximo";
    padding: 2rem 0;
    @include media-breakpoint-down(sm) {
        grid-template: 1fr 1fr / 1fr;
        grid-template-areas: "anterior" "proximo";
    }

    .btn.anterior {
        grid-area: anterior;
        > .texto {
            align-items: flex-end;
            text-align: right;
        }
    }

    .btn.proximo {
        grid-area: proximo;
        > .texto {
            align-items: flex-start;
            text-align: left;
        }
    }

    .btn {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 1rem;

        > .texto {
            display: flex;
            flex-direction: column;

            > .direcao {
                font-weight: bold;
            }

            > .titulo {
                flex-grow: 1;
                display: flex;
                align-items: flex-start;
                font-size: 85%;
            }
        }

        > svg {
            align-self: center;
        }
    }
}
