name: Construir e Publicar Site Hugo

# Dispara o workflow em push na branch main ou execução manual
on:
  push:
    branches: [main]
  workflow_dispatch:

# Permissões necessárias para publicar no GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Construir site
    runs-on: ubuntu-latest

    # Define o fuso horário do runner (afeta comandos que dependem de data/hora)
    env:
      TZ: America/Sao_Paulo  # ajuste para o fuso que você quiser

    steps:
      # Clona o repositório no ambiente do GitHub Actions
      - name: Obter código do repositório
        uses: actions/checkout@v4

      # Configura o Node.js e ativa o cache do npm
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      # Configura o Go, necessário para o Hugo Extended
      - name: Configurar Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Instalar Dart Sass
        run: |
          DART_SASS_VERSION="1.92.1"
          curl -LJO https://github.com/sass/dart-sass/releases/download/${DART_SASS_VERSION}/dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz
          tar -xf dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz
          sudo mv dart-sass /usr/local/bin
          sudo ln -s /usr/local/bin/dart-sass/sass /usr/local/bin
          rm -rf dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz

      # Instala as dependências do projeto
      - name: Instalar dependências do npm
        run: npm install

      # Adiciona o diretório de binários do npm ao PATH
      - name: Adicionar Hugo ao PATH
        run: echo "$(npm bin)" >> $GITHUB_PATH

      # Gera o site estático com Hugo
      - name: Gerar site com Hugo
        run: npx hugo --cleanDestinationDir --environment staging

      # Executa prettier em arquivos HTML
      - name: Executa prettier em arquivos HTML
        run: npm run prettier

      # Faz upload dos arquivos gerados para o job de deploy
      - name: Enviar artefatos para publicação
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    name: Publicar no GitHub Pages
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      # Realiza o deploy dos artefatos enviados no job anterior
      - name: Fazer deploy no GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
